<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>
</head>
<body>
    <h1>DRIVER REGISTRATION</h1>
    <div class="container">
      <label>Full Name</label>
      <input type="text" placeholder="FirstName">
      <input type="text" placeholder="LastName"><br><br>
      <label>Phone Number</label>
      <input type="text" placeholder="phone number"><br><br>
      <label>Email</label>
      <input type="email" placeholder="email"><br><br>
      <label>Visa type</label><select></select><br><br>
      <label>License type</label><select></select><br><br>
      <label>Address</label>
      <input type="text" placeholder="street">
      <input type="text" placeholder="District">
      <input type="text" placeholder="state">
      <input type="text" placeholder="postal code"><br><br>
      <label>Bank Details</label>
      <input type="text"><br><br>
      <label>Account Number</label>
      <input type="text" placeholder="Account number"><br><br>
      <label>Driver License</label>
      <input type="file"><br><br>
      <label>Passport</label>
      <input type="file"><br><br>
      <label>Police Check</label>
      <input type="file"><br><br>
      <label>Resume</label>
      <input type="file"><br><br>





    </div>
</body>
</html>