<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimony</title>

    {% load static %}
     <link rel="stylesheet" href="{% static 'css/matrimony.css' %}">

</head>
<body>
    <div class="container">
        <img src="download.jpg" class="img1">
        <img src="download (1).jpg" class="img2">
        <img src="3.png" class="img3">
        <p class="p1">+91 9941893804</p>
        <p class="p2">+91 9092105558</p>
        <p class="p3">bakiyammatrimony@gmail.com</p>
        <p class="p4">www.bakiyammatrimony.com</p>
        <h1>BAKIYAM MATRIMONY</h1>
        <p class="p5">New No: 12,Old No: 5/2, Bashiyam Street, Oldwashermenpet, Chennai-21</p>

        <div class="row text-center">
            <div class="column1">பெயர்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">பிறந்த தேதி</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">ராசி</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">நட்சத்திரம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">லக்னம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">ஜாதி / மதம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">கல்வித்தகுதி</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">தொழில்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">மாத வருமானம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">உயரம் / நிறம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">தந்தை பெயர்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">தந்தை தொழில்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">தாய் பெயர்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">தாய் தொழில்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">சகோதரர்கள்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">சகோதரிகள்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">பூர்விகம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">செய்யும் முறை</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">எதிர்பார்ப்பு</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">சொந்த வீடு</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">வசிக்கும் இடம்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">போன் நம்பர்</div>
            <div class="column"></div>
        </div>
        <div class="row">
            <div class="column1">செல் நம்பர்</div>
            <div class="column"></div>
        </div>
        <img src="download (1).jpg" class="img4">
        <p>ஜெனனகால இருப்பு மகாதிசை.........................வருடம்........ மாதம்......... நாள்</p>
     <div>
        <div class="row-1">
            <div class="column2"></div>
            <div class="column3"></div>
            <div class="column4">
                செவ் </div>
            <div class="column5"></div>
        </div>
        <div class="row-2">
            <div class="column6"></div>
            <div class="column20"></div>
            <div class="column9">குரு
                கேது</div>
        </div>
        <div class="row-2">
            <div class="column10">சந்
                 ராகு</div>
           <div class="column13">பு</div>
        </div>
        <div class="row-1">
            <div class="column14">சனி</div>
            <div class="column15">லக்</div>
            <div class="column16"></div>
            <div class="column17">சூரி சுக்</div>
        </div>
    </div>
    <div class="first">
        <div class="row-1">
            <div class="column2"> </div>
            <div class="column3">சூரி ராகு</div>
            <div class="column4">
                </div>
            <div class="column5">செவ் </div>
        </div>
        <div class="row-2">
            <div class="column6">சந் சுக்</div>
            <div class="column20"></div>
            <div class="column9"></div>
        </div>
        <div class="row-2">
            <div class="column10"></div>
           <div class="column13"></div>
        </div>
        <div class="row-1">
            <div class="column14">லக்</div>
            <div class="column15">புதன் குரு சனி</div>
            <div class="column16">கேது</div>
            <div class="column17"></div>
        </div>
    </div>
    <p>முயர்ச்சி எங்களுடையது......................................                                        முடிவு இறைவனுடையது</p>

    <h5 class="hh">1.அஸ்வினி<br> 2.பரணி <br>3.கார்த்திகை<br>4.ரோகினி<br>5.மிருகசீரிஷம்<br>6.திருவாதிரை<br>7.புனர்பூசம்<br>8.புனர்பூசம்<br>
    9.ஆயில்யம்<br>10.மகம்<br>11.பூரம்<br>12.உத்திரம்<br>13.அஸ்தம்<br>14.சித்திரை</h5>
    <h5 class="h5">15.சுவாதி<br>16.விசாகம்<br>17.அனுஷம்<br>18.கேட்டை<br>19.மூலம்<br>20.பூராடம்<br>21.உத்ராடம்
        <br>22.திருவோணம்<br>23.அவிட்டம்<br>24.சதயம்<br>25.பூரட்டாதி<br>26.உத்திரட்டாதி<br>27.ரேவதி
    </h5>





    </div>
</body>
</html>