<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicla_Register_form</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/vehicle.css'%}">
</head>
<body>
    <h1>VEHICLE REGISTRATION FORM</h1>
        <h3>Applicant Information</h3>
    <div class="container">

        <div class="form-group">
            <div class="form-control">
               <label>NAME(first,middle,last)</label>
               <input type="text">
            </div>
            <div class="form-control2">
                <label>SSN</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Driver License No</label>
                <input type="text">
            </div>
            <div class="form-control1">
                <label>Driver License State</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Grade</label>
                <input type="text">
            </div>
            <div class="form-control3">
                <label>Gender</label>
                <input type="checkbox">M</input>
                <input type="checkbox">F</input>
            </div>
            <div class="form-control4">
                <label>BirthDate</label>
                <input type="date">
            </div>
            <div class="form-control5">
                <label>ETS</label>
                <input type="date">
            </div>
            <div class="form-control">
                <label>Martial Status</label>
                <input type="checkbox">Single</input>
                <input type="checkbox">Married</input>
                <input type="checkbox">Divorced</input>
                <input type="checkbox">widowed</input>
            </div>
            <div class="form-control">
                <label>Home Address</label>
                <input type="address">
            </div>
            <div class="form-control8">
                <label>Phone</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>City</label>
                <input type="text">
            </div>
            <div class="form-control6">
                <label>State</label>
                <input type="text">
            </div>
            <div class="form-control7">
                <label>Zip</label>
                <input type="text">
            </div>

        </div>
    </div>
    <h3>Vehicle Information</h3>

    <div class="container">

        <div class="form-group">
            <div class="form-control">
               <label>VIN #</label>
               <input type="text">
            </div>
            <div class="form-control">
                <label>Vehicle Year</label>
                <input type="text">
            </div>
            <div class="form-control1">
                <label>Vehicle Make</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Vehicle Model</label>
                <input type="text">
            </div>
            <div class="form-control10">
                <label>Vehicle body style</label>
                <input type="text">
            </div>
            <div class="form-control11">
                <label>Vehicle colour</label>
                <input type="text">
            </div>
            </div>
            <div class="form-control">
                <label>Vehicle License State</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>License Number</label>
                <input type="address">
            </div>
            <div class="form-control18">
                <label>License Year</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Insurance Company</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Insurance Policy Number</label>
                <input type="text">
            </div>
            <div class="form-control">
                <label>Insurance Expiration Date</label>
                <input type="text">
            </div>

        </div>
    </div>
</body>
</html>