<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>1.Traveller Details</h3>
        <a href="">Add Traveller</a><br>
        <a href="">Add Traveller</a>
        <h2>Please enter contact details</h2>
        <label>Email</label><input type="email">
        <label>Mobile Code</label><input type="text">
        <label>Mobile </label><input type="text">
    </div>
    <div>
        <h3>2.Package Inclusions</h3>
    </div>
    <div>
        <h3>3.Cancellation & Date Change</h3>
    </div>
    <div>
        <h3>4.Coupons & Offers</h3>
    </div>
</body>
</html>