<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page1.css' %}">
</head>
<body>
    <form>
        <div class="container">
           <h2>VETRI TRAVELS</h2><h4>4.5/5</h4><p class="p1">4 ratings</p>
           <pre>Bharat Benz A/C Sleeper (2+1)   |  24 Seats left     15 Window Seats</pre>
           <h3>19:45------11hrs40mins------07:25</h3>
           <hr>
           <p class="p2">Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >Policies</a></li>
               <li><a href="" >Photos</a></li>
               <li><a href="" >Amenities</a></li>
               <li><a href="" >Pickups & Drops</a></li>
               <li><a href="" >Reviews</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <p>starting from</p>
            <h2>Rs.999</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">

           </div>
        </div>
    </form>
    <form>
        <div class="container">
           <h2>Sri Rajalakshmi Travels</h2><h4>4.2/5</h4><p class="p1">8 ratings</p>
           <pre>NON AC Seater/ Sleeper 2+1   |  18 Seats left     6 Window Seats</pre>
           <h3>21:15------11hrs00mins------08:15</h3>
           <hr>
           <p class="p2">Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >Policies</a></li>
               <li><a href="" >Photos</a></li>
               <li><a href="" >Amenities</a></li>
               <li><a href="" >Pickups & Drops</a></li>
               <li><a href="" >Reviews</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <p>starting from</p>
            <h2>Rs.599</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">

           </div>
        </div>
    </form>
    <form>
        <div class="container">
           <h2>Shalom Career</h2><h4>3.5/5</h4><p class="p1">38 ratings</p>
           <pre>NON AC /Sleeper 2+1  |  28 Seats left     10 Window Seats</pre>
           <h3>16:20------12hrs10mins------04:30</h3>
           <hr>
           <p class="p2">Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >Policies</a></li>
               <li><a href="" >Photos</a></li>
               <li><a href="" >Amenities</a></li>
               <li><a href="" >Pickups & Drops</a></li>
               <li><a href="" >Reviews</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <p>starting from</p>
            <h2>Rs.699</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">

           </div>
        </div>
    </form>
</body>
</html>