.wrap{
	width:100%;
	max-width:1800px;
	padding:0 30px;
	box-sizing:border-box;
	margin:0 auto;
}
#fixedheader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:yellow;
	z-index:100;
	min-width: 320px;
   height: 130px;
}
#headertop{
	background:blue;
	height:30px;
}
.leftcol {
    float: left;
    text-align: left;
}
.rightcol {
   float:right;
   text-align: right;
}
span{
	color:#eee;
	font-size:12px;
	font-weight:700;
	line-height:30px;
	display:inline-block;
	vertical-align:middle;
}
.leftcol span{
	margin-right:30px;
}

.rightcol span{
	margin-left:15px;
}
.headermain {
   padding:20px 0;
	height:60px;
	box-sizing:initial;
	box-shadow: 0 0 3px blue;
}
.hearderlogo{
   float:left;

}

.searchdiv {
   display:inline-block;
	vertical-align:middle;
	height:40px;
	border:1px solid blue;
	font-size:0;
	overflow:hidden;
   top: 55px;
   position: absolute;
   left: 980px;
   
   
}
.searchinput {
   width:250px;
	height:40px;
	border:none;
	background-color: aliceblue;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	padding:0 5px;
	font-size:14px;
  
   
   
}
.searchbutton{
   width:50px;
	height:40px;
	border:none;
	background:#ffca27;
	color:#333;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	cursor:pointer;
	transition:0.5s all;
   
   
}
.searchbutton:hover{
   background: red;
}


#headermenu{
   background-color:white;
   height:30px;
   margin-top:px;
   transition:0.5s all;
   
}
#headermenu.leftcol{
	float: left;
	text-align:left;
	font-size:0px;
}
#headermenu.wap{
	width:100%;
	max-width:1800px;
	padding:0 30px;
	box-sizing:border-box;
	margin:0;
	text-align: left;
	
	

}
.nav-links{
	display: flex;
	position: absolute;
	top: 120px;
	left: -15px;
	
}
.nav-links li{
	list-style: none;
	background-position: 30px;
	
}
.nav-links li a{
	color: black;
	text-decoration: none;
	padding: 5px 18px;
	align-items: center;
	
}
.nav-links li :hover{
	color:blue;
	height: 30px;
}

.home{
	height: 30px;
	position: absolute;
	top: -7px;
	background: red;
}
.down{
	position: absolute;
	top: 3px;
}




