

* {
    box-sizing: border-box;
  }
  
  
  .row1{
    display: flex;
    padding-left: 40px;
    /* justify-content: space-between; */
    justify-content: space-around;
    background-color: black;
  }
  .columns{
    padding:50px;
    display: flex;
    flex-direction: column;

  }
  .center {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    width: 10%;
  }

  h3{
    font-size: large;
    color: rgb(210, 190, 196);
  }
  p{
    color: rgb(115, 125, 125);
  }