.form-control2{
    margin-left: 600px;
    margin-top: -20px;
}
.container{
    border: 1px solid black;
    width: 820px;

}
.form-control1{
    margin-left: 500px;
    margin-top: -20px;
}
.form-control3{
    margin-left: 220px;
    margin-top: -20px;
}
.form-control4{
    margin-left: 400px;
    margin-top: -20px;
}
.form-control5{
    margin-left: 650px;
    margin-top: -20px;
}
.form-control8{
    margin-left: 600px;
    margin-top: -20px;
}
.form-control6{
    margin-left: 300px;
    margin-top: -20px;
}
.form-control7{
    margin-left: 600px;
    margin-top: -20px;
}
.form-control10{
    margin-left: 270px;
    margin-top: -20px;
}
.form-control11{
    margin-left: 550px;
    margin-top: -20px;
}
.form-control18{
    margin-left: 550px;
    margin-top: -20px;
}
h1{
  margin-left: 100px;
}
h3{
    margin-left: 300px;
}