{%load static %} 
<html lang="en">
<head>
  <title>gray Bus | Book your seat</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Book Your Bus Seat Online">
  <meta name="keywords" content="seat booking,bus booking,online seat booking">
  <meta name="author" content="soumya pal">
</head>
<body>
        <div class="container noselect">
            <!--bus1------------------------------->
            <h1>Mini Bus</h1>
            <div class="seat_bk_con">
                <div class="info_tag_container">
                    <h4>Seat Information</h4>
                    <div class="seat_tag_container">
                        <div class="seat_tag">
                            <img src="images/seat.png" alt="">
                            <span>Null</span>
                        </div>
                        <div class="seat_tag">
                            <img src="images/bk_seat.png" alt="">
                            <span>your booking</span>
                        </div>
                        <div class="seat_tag">
                            <img src="images/fm_seat.png" alt="">
                            <span>Booked - female</span>
                        </div>
                        <div 
                             class="seat_tag">
                            <img src="images/m_seat.png" alt="">
                            <span>Booked - male</span>
                        </div>
                    </div>
                </div>
                
                <div class="bus_container">
                    <ul class="bus bus1">
                    <li>
                        <a class="seat add_popup">
                            <div class="pop_con show">
                                <label class="bus-check male">
                                    <input type="checkbox" name="chk">
                                    <span></span>
                                </label>
                                <label class="bus-check female">
                                    <input type="checkbox" name="chk">
                                    <span></span>
                                </label>
                                <span class="btm_arrow"></span>
                            </div>
                        </a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat booked_seat my_seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <span class="passage door_passage"></span>
                        
                        <span class="passage"></span>
                        
                        <a class="seat booked_seat femaleBook_seat"></a>
                        
                        <a class="seat booked_seat maleBook_seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
            
            <!--bus2------------------------------->
        <div class="container noselect">
            <h1>Tour Bus</h1>
            <div class="seat_bk_con">
                <div class="info_tag_container">
                    <h4>Seat Information</h4>
                    <div class="seat_tag_container">
                        <div class="seat_tag">
                            <img src="images/seat.png" alt="">
                            <span>Null</span>
                        </div>
                        <div class="seat_tag">
                            <img src="images/bk_seat.png" alt="">
                            <span>your booking</span>
                        </div>
                        <div class="seat_tag">
                            <img src="images/fm_seat.png" alt="">
                            <span>Booked - female</span>
                        </div>
                        <div class="seat_tag">
                            <img src="images/m_seat.png" alt="">
                            <span>Booked - male</span>
                        </div>
                    </div>
                </div>
                
                <div class="bus_container">
                    <ul class="bus bus2">
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat booked_seat my_seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                    
                        <a class="seat add_popup">
                            <div class="pop_con show">
                                <label class="bus-check male">
                                    <input type="checkbox" name="chk">
                                    <span></span>
                                </label>
                                <label class="bus-check female">
                                    <input type="checkbox" name="chk">
                                    <span></span>
                                </label>
                                <span class="btm_arrow"></span>
                            </div>
                        </a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat booked_seat femaleBook_seat"></a>
                        
                        <span class="passage"></span>
                        
                        <span class="passage door_passage"></span>
                        
                        <span class="passage door_passage"></span>
                        
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat booked_seat maleBook_seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <span class="passage"></span>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                    <li>
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                        
                        <a class="seat"></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
</body>
</html>