<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">


   <div class="phase11">
       <h1>Book An Appointment With Our Top Rated Digital Marketing Experts.</h1>
       <h2>Hope you have seen a lot of good things about Creature Technologies.
         Now, it's time to talk with a real person about your project.
          So, don't delay!</h2>



   </div>
   <div class="phase12">
        <img src="{% static 'image/Awesome-Computer-Guy.jpg' %}" width="600" height="600">
        <div class="text">
          <h3>Request A Call Back!</h3>
          <h1>General Enquiry</h1>
          <h2>Not Sure About Your Requirements?</h2>
          <p>Get in touch with our team to understand more.</p>
          <p>We Are Waiting for you!</p>
          <div class="login">
            <form action="">
              <label for="name">Name</label>
              <input type="text" name="name" placeholder="Name">
              <label for="name">Email</label>
              <input type="email" name="email" placeholder="Email">
              <label for="name">Mobile</label>
              <input type="text" name="mobile" placeholder="Mobile">
              <label for="name">Website URL</label>
              <input type="text" name="website" placeholder="Website URL">
              <label for="name">Message</label>
              <textarea placeholder="Message" style="height:120px;"></textarea>
              <input type="submit" value="Request Assessment" >

            </form>
          </div>
        </div>



   </div>

 <div class="phase13">
     <h1>Reviews</h1>
     <div class="box">

     </div>
 </div>

 <div class="phase14">
  <div class="box1">
    <h2>Services</h2>
    <ul>
      <li><a href="">Website development</a></li>
      <li><a href="">SMM Services</a></li>
      <li><a href="">SEO Services</a></li>
      <li><a href="">SMO Services</a></li>
      <li><a href="">PPC Services</a></li>
    </ul>
  </div>
  <div class="box2">
    <h2>Packages</h2>
    <ul>

      <li><a href="">SEO Packages</a></li>
      <li><a href="">SMM Packages</a></li>
      <li><a href="">PPC Packages</a></li>
      <li><a href="">Facebook packages</a></li>
      <li><a href="">Youtube Packages</a></li>
    </ul>
  </div>
  <div class="box3">
    <h2>Learning</h2>
    <ul>

      <li><a href="">Graphic Ideas</a></li>
      <li><a href="">Google Ads Tips</a></li>
      <li><a href="">SEO Resources</a></li>
      <li><a href="">Social Media Tips</a></li>
      <li><a href="">Website Tips</a></li>
    </ul>
  </div>
  <div class="box4">
    <h2>Policies</h2>
    <ul>

      <li><a href="">Partner</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms & Conditions</a></li>

    </ul>
  </div>
  <div class="box5">
    <h2>Agency</h2>
    <ul>

      <li><a href="">About Us</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Career</a></li>
      <li><a href="">Reviews</a></li>

    </ul>
  </div>
  <div class="box6">
    <h2>Contact</h2>
    <ul>

      <li><a href="">Contact Us</a></li>
      <li><a href="">Request Proposal</a></li>

    </ul>
  </div>

 </div>


  <div class="phase15">
    <ul>
      <li> <img src="{% static 'image/fb.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/Twitter-Logo.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/R (1)1.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/instagram.png' %}" height="40" width="40"></li>
    </ul>
    <p>All Rights Reserved By Creature Technologies Pvt. Ltd.</p>
    <p>(We only use and operate creaturetechnologies.com & creaturetechnologies.in. Beware of other similar domains.)</p>


   </div>









</div>

</body>
</html>