<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
      <div class="navbar">
        <h2>Creature</h2>
        <form action="">
            <input type="button" value="Get Proposal">
          </form>

        <div class="dropdown">
            <form action="/contact">
                <button class="dropbtn">Contact Us
                     <i class="fa fa-caret-down"></i>
                </button>
            </form>

            <div class="dropdown-content">
              <a href="#">Partner</a>
            </div>
        </div>
        <div class="dropdown">
            <form action="/blog">
                 <button class="dropbtn">Blog
                    <i class="fa fa-caret-down"></i>
                 </button>
            </form>

            <div class="dropdown-content">
              <a href="#">Graphic Resources</a>
              <a href="#">Google Ads Resources</a>
              <a href="#">SEO Resources</a>
              <a href="#">Social Media Resources</a>
            </div>
        </div>

      <div class="dropdown">
          <form action="/industries">
                <button class="dropbtn">Industries
                   <i class="fa fa-caret-down"></i>
                </button>
          </form>

        <div class="dropdown-content">
          <a href="#">Hospital Marketing</a>
          <a href="#">Ecommerce SEO</a>
          <a href="">Dental Marketing</a>
          <a href="">Law Firm SEO</a>
          <a href="">Affiliate Marketing</a>
          <a href="">Educational Institutes</a>
          <a href="">Real Estate Marketing</a>
          <a href="">Roofer SEO</a>
          <a href="">Podcast SEO</a>
          <a href="">Pest Control SEO</a>

        </div>
      </div>
      <div class="dropdown">
          <form action="/package">
              <button class="dropbtn">Packages
                   <i class="fa fa-caret-down"></i>
              </button>
          </form>

        <div class="dropdown-content">
            <a href="">SEO (<span>Search Engine Optimization</span>)</a>
            <a href="">SMM (<span>Social Media Marketing</span></a>
            <a href="">SMO (<span>Social Media Optimization</span>)</a>
            <a href="">ORM (<span>Object Relational Mapping</span>)</a>
            <a href="">PPC (<span>Pay Per Click</span>)</a>
            <a href="">Logo Designing</a></li>
            <a href="">Website Maintenance</a>
            <a href="">website Packages</a>

        </div>
      </div>
      <div class="dropdown">
          <form action="/service">
               <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
               </button>
          </form>

        <div class="dropdown-content">
          <a href="">SEO (<span>Search Engine Optimization</span>)</a>
          <a href="">SMM (<span>Social Media Marketing</span>)</a>
          <a href="">SMO (<span>Social Media Optimization</span>)</a>
          <a href="">ORM (<span>Object Relational Mapping</span>)</a>
          <a href="">PPC (<span>Pay Per Click</span>)</a>
          <a href="">Content Writing</a>
          <a href="">Web Design Services</a>
          <a href="">Web Development</a>
          <a href="">App Development</a>
          <a href="">Animated Video</a>
          <a href="">Graphic Design</a>
        </div>
      </div>
      <div class="dropdown">
          <form action="/about">
               <button class="dropbtn">About Us
                   <i class="fa fa-caret-down"></i>
               </button>
          </form>

        <div class="dropdown-content">
          <a href="">Training</a>
          <a href="#">Portfolio</a>
          <a href="#">Career</a>
          <a href="#">Reviews</a>
        </div>
      </div>

    </div>









</div>

</body>
</html>