<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <nav>
          <h2 class="logo">Creature</h2>
          <form>
            <button class="search"><i class="fa fa-search"></i></button>
          </form>
          <ul>
            <li><a href="">About Us <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="">Training <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                      <ul>
                        <li><a href="">Digital Marketing</a></li>
                      </ul>
                    </li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Career</a></li>
                    <li><a href="">Reviews</a></li>
                </ul>
            </li>
            <li><a href="">Services <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li class="l1"><a href="">SEO (<span>Search Engine Optimization</span>) <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                      <ul class="ul">
                        <li><a href="">Local Business SEO</a></li>
                        <li><a href="">Outsource SEO</a></li>
                        <li><a href="">Small Business SEO</a></li>
                        <li><a href="">WordPress SEO</a></li>
                      </ul>
                    </li>
                    <li class="l1"><a href="">SMM (<span>Social Media Marketing</span>) <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="ul">
                            <li><a href="">Facebook Marketing</a></li>
                            <li><a href="">Instagram Marketing</a></li>
                            <li><a href="">Youtube Marketing</a></li>
                            <li><a href="">Pinterest Marketing</a></li>
                            <li><a href="">Linkedin Marketing</a></li>
                            <li><a href="">Twitter Marketing</a></li>
                        </ul>

                    </li>
                    <li class="l1"><a href="">SMO (<span>Social Media Optimization</span>)</a></li>
                    <li class="l1"><a href="">ORM (<span>Object Relational Mapping</span>)</a></li>
                    <li class="l1"><a href="">PPC (<span>Pay Per Click</span>)</a></li>
                    <li class="l1"><a href="">Content Writing</a></li>
                    <li class="l1"><a href="">Web Design Services</a></li>
                    <li class="l1"><a href="">Web Development <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="ul">
                            <li><a href="">WordPress</a></li>
                            <li><a href="">Ecommerce</a></li>
                            <li><a href="">Dental Website</a></li>
                            <li><a href="">Custom Website</a></li>
                            <li><a href="">Website Maintenance</a></li>
                        </ul>

                    </li>
                    <li class="l1"><a href="">App Development</a></li>
                    <li class="l1"><a href="">Animated Video</a></li>
                    <li class="l1"><a href="">Graphic Design <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="ul">
                            <li><a href="">Logo Design</a></li>
                        </ul>

                    </li>

                </ul>

            </li>
            <li><a href="">packages <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li class="l1"><a href="">SEO (<span>Search Engine Optimization</span>)</a></li>
                    <li class="l1"><a href="">SMM (<span>Social Media Marketing</span>)<i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="ul">
                            <li><a href="">Facebook Packages</a></li>
                            <li><a href="">Instagram Packages</a></li>
                            <li><a href="">Youtube Packages</a></li>
                            <li><a href="">Linkedin Packages</a></li>
                            <li><a href="">Twitter Packages</a></li>
                        </ul>

                    </li>
                    <li class="l1"><a href="">SMO (<span>Social Media Optimization</span>)</a></li>
                    <li class="l1"><a href="">ORM (<span>Object Relational Mapping</span>)</a></li>
                    <li class="l1"><a href="">PPC (<span>Pay Per Click</span>)</a></li>
                    <li class="l1"><a href="">Logo Designing</a></li>
                    <li class="l1"><a href="">Website Maintenance</a></li>
                    <li class="l1"><a href="">website Packages</a></li>
                </ul>

            </li>
            <li><a href="">Industries <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li class="l2"><a href="">Hospital Marketing</a></li>
                    <li class="l2"><a href="">Ecommerce SEO <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="u2">
                            <li><a href="">Shopify SEO Services</a></li>
                        </ul>

                    </li>
                    <li class="l2"><a href="">Dental Marketing</a></li>
                    <li class="l2"><a href="">Law Firm SEO</a></li>
                    <li class="l2"><a href="">Affiliate Marketing</a></li>
                    <li class="l2"><a href="">Educational Institutes</a></li>
                    <li class="l2"><a href="">Real Estate Marketing <i class="fa fa-caret-right" style="float: right;margin-top:20px;"></i></a>
                        <ul class="u2">
                            <li><a href="">Real Estate SEO</a></li>
                        </ul>

                    </li>
                    <li class="l2"><a href="">Roofer SEO</a></li>
                    <li class="l2"><a href="">Podcast SEO</a></li>
                    <li class="l2"><a href="">Pest Control SEO</a></li>
                </ul>

            </li>
            <li><a href="">Blog <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li class="l2"><a href="">Graphic Resources</a></li>
                    <li class="l2"><a href="">Google Ads Resources</a></li>
                    <li class="l2"><a href="">SEO Resources</a></li>
                    <li class="l2"><a href="">Social Media Resources</a></li>
                </ul>

            </li>
            <li><a href="">Contact Us <i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="">Partner</a></li>
                </ul>

            </li>
          </ul>
          <button class="button1">Get Proposal</button>
        </nav>

    </div>
    <div class="phase1">
      <h1>Digital Marketing <br>Agency In India </h1><br>
      <span>SEO | Google Ads | Social Media | Website</span>
      <p class="p">A Well Known Digital Marketing Company in India focused on<br><br> Client’s Business Growth Only!</p><br>
      <a href=""><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 40px;"></i></a><h5>Location</h5>
      <p class="p1">Chennai,Tamilnadu</p>
      <div class="box">
         <a  class="a" href=""><i class="fa fa-mobile" aria-hidden="true" style="font-size: 50px;"></i></a>
         <h6>More Information Call Us</h6>
      </div>
      <form action="" class="form1">
        <input type="button" value="Request Proposal">
      </form>
      <form action="" class="form2">
        <input type="button" value="Call Now">
      </form>
      
      <img src="Well-Rounded-SEO-Strategy.jpg">
   </div>
</body>
</html>
