<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
      <div class="navbar">
        <h2>Creature</h2>
        <form action="">
            <input type="button" value="Get Proposal">
          </form>

        <div class="dropdown">
            <button class="dropbtn">Contact Us
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Partner</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Blog
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Graphic Resources</a>
              <a href="#">Google Ads Resources</a>
              <a href="#">SEO Resources</a>
              <a href="#">Social Media Resources</a>
            </div>
        </div>

      <div class="dropdown">
        <button class="dropbtn">Industries
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Hospital Marketing</a>
          <a href="#">Ecommerce SEO</a>
          <a href="">Dental Marketing</a>
          <a href="">Law Firm SEO</a>
          <a href="">Affiliate Marketing</a>
          <a href="">Educational Institutes</a>
          <a href="">Real Estate Marketing</a>
          <a href="">Roofer SEO</a>
          <a href="">Podcast SEO</a>
          <a href="">Pest Control SEO</a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Packages
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="">SEO (<span>Search Engine Optimization</span>)</a>
            <a href="">SMM (<span>Social Media Marketing</span></a>
            <a href="">SMO (<span>Social Media Optimization</span>)</a>
            <a href="">ORM (<span>Object Relational Mapping</span>)</a>
            <a href="">PPC (<span>Pay Per Click</span>)</a>
            <a href="">Logo Designing</a>
            <a href="">Website Maintenance</a>
            <a href="">website Packages</a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Services
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="">SEO (<span>Search Engine Optimization</span>)</a>
          <a href="">SMM (<span>Social Media Marketing</span>)</a>
          <a href="">SMO (<span>Social Media Optimization</span>)</a>
          <a href="">ORM (<span>Object Relational Mapping</span>)</a>
          <a href="">PPC (<span>Pay Per Click</span>)</a>
          <a href="">Content Writing</a>
          <a href="">Web Design Services</a>
          <a href="">Web Development</a>
          <a href="">App Development</a>
          <a href="">Animated Video</a>
          <a href="">Graphic Design</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">About Us
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="">Training</a>
          <a href="#">Portfolio</a>
          <a href="#">Career</a>
          <a href="#">Reviews</a>
        </div>
      </div>

    </div>

        <div class="phase1">
           <h1>Digital Marketing <br>Agency In India </h1><br>
           <span>SEO | Google Ads | Social Media | Website</span>
           <p class="p">A Well Known Digital Marketing Company in India focused on<br><br> Client’s Business Growth Only!</p><br>
           <a href=""><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 40px;"></i></a><h5>Location</h5>
           <p class="p1">Chennai,Tamilnadu</p>
           <div class="box">
               <a  class="a" href=""><i class="fa fa-mobile" aria-hidden="true" style="font-size: 50px;"></i></a>
               <h6>More Information Call Us</h6>
           </div>
           <form action="" class="form1">
              <input type="button" value="Request Proposal">
           </form>
           <form action="" class="form2">
              <input type="button" value="Call Now">
           </form>

          <img src="{% static 'image/seo.png' %}">
        </div>
        <div class="phase2">
      <iframe width="450" height="350" src=""></iframe>
      <div class="box2">
        <h1>About Creature Technologies</h1><br><br>
        <p>We are one of the finest Web Development and Digital Marketing <br><br> Companies In India renowned for using the latest
            online <br><br>marketing  techniques and the most sophisticated
              tools that help<br><br>  your  business get a digital edge.
           <br><br>Hire Us today to grow your business.</p><br><br>
        <form action="" class="form3">
            <input type="button" value="About Creature Technologies">
        </form><br>
        <h5>Check Our Reviews On</h5><br><br>
        <label>Upwork, Clutch, & Google My Business Now!</label>
      </div>


   </div>
   <div class="phase3">
      <h1>Our <span>Digital Marketing</span> Services</h1>
      <div class="box">
          <img src="{% static 'image/R.png' %}">
          <h1>SEO</h1>
          <p>By utilizing the white hat practices, the best </p>
        <p> SEO tools, and in-depth  keyword research,</p>
        <p> we can help steal  initial positions for your</p>
        <p>  website in SERPs.</p>
          <form action="">
             <input type="button" value="Read More">
          </form>
      </div>
      <div class="box1">
        <img src="{% static 'image/ppc-services.png' %}">
        <h1>PPC</h1>
        <p>When you need to increase your sales, leads, </p>
        <p> and conversions instantly, our PPC services </p>
        <p>can be the answer. We shall run  a </p>
        <p> result-oriented PPC campaign under the</p>
        <p>direct supervision of our experts.</p>
        <form action="">
           <input type="button" value="Read More">
        </form>
    </div>
    <div class="box2">
        <img src="{% static 'image/OIP.jpg' %}">
        <h1>SMM</h1>
        <p>In today’s digital realm, businesses that </p>
        <p>overlook  the power of social media may not</p>
        <p> perform well. Thus, we help you stay  </p>
        <p> connected to your target audience on social  </p>
        <p> media & keep them engaged.</p>
        <form action="">
           <input type="button" value="Read More">
        </form>
    </div>
    <div class="box">
        <img src="{% static 'image/Icona-Best-seller-Neutrino-400x400.png' %}">
        <h1>ORM</h1>
        <p>Reputation in the online world holds the</p>
      <p>utmost importance.We help you show a</p>
      <p>positive facade to the world with best-in-class</p>
      <p>online reputation management solutions</p>
        <form action="">
           <input type="button" value="Read More">
        </form>
    </div>
    <div class="box1">
      <img src="{% static 'image/download (3).jpg' %}">
      <h1>Content Writing</h1>
      <p>Our content writers know the intricacies </p>
      <p>of Content Writing as well as SEO. We</p>
      <p>create informative, compelling and </p>
      <p>interactive content copies that clearly </p>
      <p>indicate business objectives.</p>
      <form action="">
         <input type="button" value="Read More">
      </form>
    </div>
    <div class="box6">
      <img src="{% static 'image/design.jpg' %}">
      <h1>Website Design & Development</h1>
      <p>Operational as a Web Design & Development</p>
      <p>Company in India, we create websites that</p>
      <p> are easier to navigate and give better </p>
      <p>user experience to the viewers. </p>
      <form action="">
         <input type="button" value="Read More">
      </form>
    </div>
    <div class="box">
      <img src="{% static 'image/R (1).png' %}">
      <h1>Animated Video</h1>
      <p>We are known for creating amazingly</p>
     <p>attractive explainer videos and animated</p>
     <p>videos that help promote your business,</p>
     <p>products, and services in an interesting way.</p>
      <form action="">
         <input type="button" value="Read More">
      </form>
    </div>
   <div class="box1">
     <img src="{% static 'image/influencer-marketing.jpg' %}">
     <h1>SMO</h1>
     <p>SMO is the process of improving the </p>
     <p>visibility and reach of a website on social</p>
     <p>media platforms. We engage people on </p>
     <p>social media to get new followers and</p>
     <p>engage with existing ones.</p>
     <form action="">
       <input type="button" value="Read More">
     </form>
   </div>
   <div class="box9">
      <img src="{% static 'image/ui-ux-1.png' %}">
      <h1>Website UI/UX Designing</h1>
      <p>Web design services help you to make a</p>
      <p>perfectly designed website for your</p>
      <p> business to increase UI/UX. </p>

      <form action="">
       <input type="button" value="Read More">
      </form>
    </div>
    <form action="">
        <input type="button" value="Our Services">
    </form>
    <h1>How Is Our Digital Marketing Agency Different?</h1>
    <div class="box10">
       <img src="{% static 'image/diverse-and-dedicated-team.png' %}">
       <h1>Dedicated Team</h1>
       <p>We assign dedicated team members for you so you feel more</p>
        <p>homely And friendly. Weekly calls and meetings make your </p>
         <P>way to success more smooth.</p>
    </div>
    <div class="box11">
        <img src="{% static 'image/benefit.png' %}">
        <h1>Project Management Tool</h1>
        <p>Everything will be managed in a fast and versatile project</p>
         <p>management tool so you will feel your team working for you </p>
          <P>business.</p>
     </div>
 </div>

        <div class="phase4">
    <h1>Improve Your Business With A Trusted Digital Marketing</h1>
            <h1>Company In India</h1>
    <img src="{% static 'image/571-5717970_2asset-23x-digital-marketing-3d-png-clipart.png' %}">
    <h3>Digital Marketing Company</h3>
    <div class="p">
       <p class="p1">Creature Technologies has helped more than 500 businesses</p>
       <p> to get top-quality digital marketing services worldwide. Our</p>
       <p> digital marketing company has been helping businesses for</p>
       <p> more than 5 years and offering the best digital marketing </p>
       <p>services to make their business more profitable.</p><br>

    <p class="p1">Our digital marketing company can design and execute</p>
    <p> digital marketing strategies for various platforms like</p>
     <p> Facebook, Twitter, Instagram,Pinterest, YouTube and more.</p><br>

    <p class="p1">Our efforts are not limited to creating digital marketing</p>
    <p>strategies only,but we provide comprehensive digital </p>
    <p> marketing services. Creature Technologies is a certified </p>
    <p> digital marketing company with more than 20+ team</p>
    <p> members having great experience in providing digital</p>
     <p> marketing services. If you are a business and want to know</p>
    <p> how digital marketing can help your business to grow then</p>
    <p>  we can offer you digital marketing consulting at very </p>
    <p> affordable charges.</p>
    </div>
 </div>
 <div class="phase5">
   <h1 class="h1">Goal-Focused Digital Marketing Agency In India</h1>
   <h3>An Answer To Your Every Digital Marketing Question!</h3>
   <div class="p">
     <p>Looking to launch a new Digital Marketing campaign for your business
        or want to add a fresh edge to an existing one? Our target-</p>
     <p>oriented and tailor-made Digital Marketing solutions will make doing business a breeze.
        We’re a Digital Marketing agency for small, </p>
     <p>big, old, or new businesses who
        want to see their business reaching sky-heights. We are a top-notch digital
       marketing company in</p>
      <p>India for resolute and determined business owners. </p>
    </div>
     <form action="">
       <input type="button" value="Learn More!">
     </form>
    <h1>Most Trusted Digital Marketing Company India</h1>
    <div class="p1">
      <p class="p2">Creature Technologies is a full-service Digital Marketing company</p>
      <p>  in India as we offer a complete range of Digital Marketing</p>
      <p>  services that include SEO, PPC, SMM, SMO, Content Writing,</p>
      <p>  Website Design & Development, and Animated Video to our </p>
      <p>  clients.</p>

   <p class="p2">Our Digital Marketing Agency has been helping businesses thrive</p>
   <p> for over 10 years by offering them best-in-class solutions as per</p>
    <p>the needs of their business.</p>

   <p class="p2">Whether you’re a start-up or a long-running business, our team</p>
   <p>of digital marketing experts will help you make the most of your</p>
   <p>chosen digital marketing strategy and get the best of your</p>
   <p> investment.</p>

   </div>
   <img src="{% static 'image/DIGITAL-MARKETING-PNG.png' %}">
 </div>
 <div class="phase6">
  <div class="box1">
    <i class="fa fa-handshake-o" aria-hidden="true"></i>
    <h2>Honest & Ethical</h2>
  </div>
  <div class="box2">
    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
    <h2>Keeps You Informed</h2>
  </div>
  <div class="box3">
    <i class="fa fa-user-secret" aria-hidden="true"></i>
    <h2>Expert & Experienced</h2>
  </div>
  <div class="box4">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <h2>Utilize Bespoke Solutions</h2>
  </div>
  <div class="box5">
    <i class="fa fa-users" aria-hidden="true"></i>
    <h2>Professional Team Of Experts</h2>
  </div>
  <div class="box6">
    <i class="fa fa-user-times" aria-hidden="true"></i>
    <h2>Give Special Attention To Deadlines</h2>
  </div>

 </div>

 <div class="phase7">
   <h1>Ethos Our Digital Marketing Company Rests Upon</h1>
   <p class="p">Every company works on the grounds of some values and principles.
     We also have a set of values
     that helps us stay focused on our goal and deliver the best outcomes.</p>
    <div class="box1">
        <h3 class="h3">Customer Obession</h3>
        <p class="p1">You might call us crazy,</p>
        <p>  but we’re obsessed with </p>
        <p> our clients and their </p>
        <p>  success. We are always</p>
        <p> ready to walk that extra</p>
        <p>   mile to give our clients the </p>
        <p>   best outcomes.</p>
    </div>
    <div class="box2">
      <h3>Openness & Learning</h3>
      <p class="p1">We are learners; we never</p>
      <p>call ourselves perfect but</p>
      <p>try to attain perfection in</p>
      <p> everything we do. We </p>
      <p> remain vigilant to the</p>
      <p> newer digital marketing</p>
      <p>  trends and never get sick </p>
      <p>  of experimentation.</p>
    </div>
    <div class="box3">
     <h3>Fast, Fantastic, Faithful & Flexible</h3>
     <p class="p1">These are the 4</p>
     <p>characteristics of our </p>
     <p>Digital Marketing</p>
     <p>Company. We are a</p>
     <p> fantastic & faithful Digital</p>
     <p> Marketing company that </p>
     <p> delivers fast results using</p>
     <p>flexible solutions.</p>
    </div>
    <div class="box4">
      <h3>Succinctness</h3>
      <p class="p1">We believe in</p>
      <p>straightforwardness and</p>
      <p>presume clarity and</p>
      <p>conciseness to be</p>
      <p>integral factors towards</p>
      <p>an organization’s success.</p>

     </div>
     <div class="box7">
     <h2>Don’t Go With Our
      Words.Watch Video!</h2>
      <h5 class="h5">You should trust only the trusted when it comes to </h5>
        <h5>digital marketing services.</h5>
      <form action="">
         <input type="button" value="Know-How We Did it!">
      </form>
      <iframe width="500px" height="300px"></iframe>
    </div>
  </div>

        <div class="phase8">
      <h2>Creature Technologies Pvt Ltd</h2>
      <h1>One Of The Highest Rated Digital Marketing Companies In India</h1>
      <h3>You can read 100s of verified reviews about our digital marketing services</h3>
      <h3> online on platforms like Upwork, Freelancer,  Etc.</h3>
      <p class="p">Creature Technologies is a competitive SEO company that works for success and puts 100% of its knowledge and skill to </p>
      <p>provide our client’s website with a better position in search engines.</p>

      <p class="p">This is what we love to do and live to do. We read hundreds of SEO articles every day to keep our skills updated so you </p>
      <p> get the best from our agency.</p>
   </div>

   <div class="phase9">
      <h5>Customized Packages & Pilot Projects</h5>
      <h2>We Believe In "First Deserve Then Desire".</h2>
      <h4>This Is Why We Are Open For Pilot Projects!</h4>
      <p>We know it may take a few months to establish a trusted
         relationship so we are open to customization.</p>
      <form action="">
         <input type="button" value="Let's Meet!">
      </form>
      <img src="{% static 'image/171-1718546_employee-professional-computer-work-clipart.png' %}" width="400" height="400">
   </div>

   <div class="phase10">
       <h3>Digital Marketing Services like None Other</h3>
       <h1>Adding A Success Quotient To Your Digital Marketing Campaign</h1>
       <p class="p">Recover lost sales, retain customers, increase revenue and get optimum results for your Digital Marketing campaign with us!  </p>
       <p class="p">We may not be the only Digital Marketing Agency in India, but we can bet our Digital Marketing solutions will drive your outcomes like</p>
       <p>none other.</p>
       <p class="p">Our Digital Marketing Professionals are not just a team of experts who are well-versed with the intricacies of Digital Marketing but is a</p>
       <p>group of “restless doers” who are ready to take on any challenge and are on the forefront to go above and beyond to keep the best on</p>
       <p>the table.</p>

       <div class="box1">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <h2>300+</h2>
        <p>Verified Reviews</p>
      </div>
      <div class="box2">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <h2>5</h2>
        <p>Years of Experience</p>
      </div>
      <div class="box3">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <h2>500+</h2>
        <p>Happy Clients</p>
      </div>
      <div class="box4">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h2>20+</h2>
        <p>Team Members & Growing</p>
      </div>


   </div>

   <div class="phase11">
       <h1>Book An Appointment With Our Top Rated Digital Marketing Experts.</h1>
       <h2>Hope you have seen a lot of good things about Creature Technologies.
         Now, it's time to talk with a real person about your project.
          So, don't delay!</h2>



   </div>
   <div class="phase12">
        <img src="{% static 'image/Awesome-Computer-Guy.jpg' %}" width="600" height="600">
        <div class="text">
          <h3>Request A Call Back!</h3>
          <h1>General Enquiry</h1>
          <h2>Not Sure About Your Requirements?</h2>
          <p>Get in touch with our team to understand more.</p>
          <p>We Are Waiting for you!</p>
          <div class="login">
            <form action="">
              <label for="name">Name</label>
              <input type="text" name="name" placeholder="Name">
              <label for="name">Email</label>
              <input type="email" name="email" placeholder="Email">
              <label for="name">Mobile</label>
              <input type="text" name="mobile" placeholder="Mobile">
              <label for="name">Website URL</label>
              <input type="text" name="website" placeholder="Website URL">
              <label for="name">Message</label>
              <textarea placeholder="Message" style="height:120px;"></textarea>
              <input type="submit" value="Request Assessment" >

            </form>
          </div>
        </div>



   </div>

 <div class="phase13">
     <h1>Reviews</h1>
     <div class="box">

     </div>
 </div>

 <div class="phase14">
  <div class="box1">
    <h2>Services</h2>
    <ul>
      <li><a href="">Website development</a></li>
      <li><a href="">SMM Services</a></li>
      <li><a href="">SEO Services</a></li>
      <li><a href="">SMO Services</a></li>
      <li><a href="">PPC Services</a></li>
    </ul>
  </div>
  <div class="box2">
    <h2>Packages</h2>
    <ul>

      <li><a href="">SEO Packages</a></li>
      <li><a href="">SMM Packages</a></li>
      <li><a href="">PPC Packages</a></li>
      <li><a href="">Facebook packages</a></li>
      <li><a href="">Youtube Packages</a></li>
    </ul>
  </div>
  <div class="box3">
    <h2>Learning</h2>
    <ul>

      <li><a href="">Graphic Ideas</a></li>
      <li><a href="">Google Ads Tips</a></li>
      <li><a href="">SEO Resources</a></li>
      <li><a href="">Social Media Tips</a></li>
      <li><a href="">Website Tips</a></li>
    </ul>
  </div>
  <div class="box4">
    <h2>Policies</h2>
    <ul>

      <li><a href="">Partner</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms & Conditions</a></li>

    </ul>
  </div>
  <div class="box5">
    <h2>Agency</h2>
    <ul>

      <li><a href="">About Us</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Career</a></li>
      <li><a href="">Reviews</a></li>

    </ul>
  </div>
  <div class="box6">
    <h2>Contact</h2>
    <ul>

      <li><a href="">Contact Us</a></li>
      <li><a href="">Request Proposal</a></li>

    </ul>
  </div>

 </div>


  <div class="phase15">
    <ul>
      <li> <img src="{% static 'image/fb.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/Twitter-Logo.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/R (1)1.png' %}" height="40" width="40"></li>
      <li> <img src="{% static 'image/instagram.png' %}" height="40" width="40"></li>
    </ul>
    <p>All Rights Reserved By Creature Technologies Pvt. Ltd.</p>
    <p>(We only use and operate creaturetechnologies.com & creaturetechnologies.in. Beware of other similar domains.)</p>


   </div>









</div>

</body>
</html>

    </div>
</body>
</html>