<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/service.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
   {% include 'header.html' %}
    <div class="phase1">
         <h1>Digital Marketing Company In Chennai</h1>
         <p class="p">Best digital marketing services in Chennai- Creature </p>
         <p> Technologies offers top-rated  digital marketing services for</p>
         <p> businesses in Chennai at very low prices.</p>
         <p class="p">Want to increase conversions, drive traffic and upsurge sales? </p>
         <p>Creature Technologies believes that Digital Marketing is an</p>
         <p>essential need of businesses and we strive to offer the most </p>
         <p>effective and suitable digital marketing services to our potential</p>
         <p>customers.</p>
         <form action="">
            <input type="button" value="Request Proposal" class="button1">
         </form>
         <form action="">
            <input type="button" value="Our SEO Packages" class="button2">
         </form>
         <img src="{% static 'image/services/4.png' %}">
    </div>

    <div class="phase3">
      <h1>Digital Marketing Services In <span>Chennai</span></h1>
      <div class="box">
          <img src="{% static 'image/services/services-seo.jpg' %}">
          <h1>SEO</h1>
          <p>Optimize Website, Rank Better, More </p>
        <p> Traffic, And Increase in Sales. SEO</p>
        <p>does it all. We offer SEO services at</p>
        <p>very best prices.</p>
          <form action="">
             <input type="button" value="SEO Services">
          </form>
      </div>
      <div class="box1">
        <img src="{% static 'image/services/SocialMediaMarketing.png' %}">
        <h1>Social Media</h1>
        <p>Reach out to more people, increase </p>
        <p>awareness, and grow your followers,</p>
        <p>can be the answer. We shall run  a </p>
        <p>sales and traffic from social channels.</p>
        <p>Invest in Social Media Now!</p>
        <form action="">
           <input type="button" value="Social Media">
        </form>
    </div>
    <div class="box2">
        <img src="{% static 'image/services/OIP.jpg' %}">
        <h1>Pay Per Click</h1>
        <p>PPC services help your business to </p>
        <p>appear quickly in search engines in</p>
        <p>front of your buyers. Fastest way to </p>
        <p>increase sales and leads. </p>

        <form action="">
           <input type="button" value="PPC Services">
        </form>
    </div>
    <div class="box">
        <img src="{% static 'image/services/ORM-services.png' %}">
        <h1>ORM</h1>
        <p>Got some bad reviews/ratings and</p>
      <p>looking to build better online</p>
      <p>reputation? ORM services can help!</p>

        <form action="">
           <input type="button" value="ORM Services">
        </form>
    </div>
    <div class="box1">
      <img src="{% static 'image/services/wd-services.png' %}">
      <h1>Web Design</h1>
      <p>Web design services help you to</p>
      <p>make a perfectly designed website</p>
      <p>for your business to increase UI/UX.</p>

      <form action="">
         <input type="button" value="Web Design">
      </form>
    </div>
    <div class="box6">
      <img src="{% static 'image/services/website-development.png' %}">
      <h1>Website Development</h1>
      <p>Present your concept to your online</p>
      <p>buyers with the right web</p>
      <p>development services.</p>

      <form action="">
         <input type="button" value="Web Development">
      </form>
    </div>
    <div class="box">
      <img src="{% static 'image/services/content-writing.png' %}">
      <h1>Content Writing</h1>
      <p>Content can build or destroy your</p>
     <p>business so why not invest in</p>
     <p>professional content writing services.</p>
     <p>Hire us now!</p>
      <form action="">
         <input type="button" value="Content Writing">
      </form>
    </div>
   <div class="box1">
     <img src="{% static 'image/services/graphic-design.png' %}">
     <h1>Graphic Design</h1>
     <p>Market your business with better</p>
     <p>graphics. Hire us for best graphics</p>
     <p>design services in india!</p>

     <form action="">
       <input type="button" value="Graphic Design">
     </form>
   </div>
   <div class="box9">
      <img src="{% static 'image/services/video.png' %}">
      <h1>Video Creation</h1>
      <p>Start building videos to build a better</p>
      <p>presence on YouTube. Hire us for</p>
      <p>video creation services!</p>

      <form action="">
       <input type="button" value="Video Creation">
      </form>
    </div>

 </div>

   <div class="phase4">
      <h1>Our Digital Marketing Services In Chennai</h1>
      <h3>Will Help You To Get</h3>
      <div class="p1">

         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Boost your Brand Popularity with our SMO</span><br>
         <span class="p">Services.</span><br>
         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Increase the ROI of your businesses through</span><br>
         <span class="p">Google Adwords (PPC Campaigns).</span><br>
      </div>
      <div class="p2">
         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Increase the ROI of your businesses through</span><br>
         <span class="p">Google Adwords (PPC Campaigns).</span><br>
         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Build a positive image in front of the online</span><br>
         <span class="p">audience.</span><br>
      </div>
      <div class="p3">
         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Attract the readers with factual information</span><br>
         <span class="p">in your web content.</span><br>
         <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Responsive sites to communicate with your</span><br>
         <span class="p">clients.</span><br>

      </div>
   </div>


   <div class="phase5">
       <h1>Why Creature Technologies Is The Trusted Digital Marketing Company In Chennai?</h1>
       <p class="p">It needs constant efforts, and dedicated seriousness to reap</p>
       <p>rewards in any path of life. We at ‘Creature Technologies’ are</p>
       <p>absolutely aware of this while we offer you the best-in-class</p>
       <p>website development and digital marketing services in Chennai.</p>
       <p class="p">There are many reasons which make us the best digital marketing</p>
       <p>services provider in Lucknow for our clients.</p>
       <img src="{% static 'image/services/website.png' %}" height="450px" width="450px">
   </div>


   <div class="phase6">
       <div class="box">
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Every task is performed in-house</p>
         <p class="p1">and not outsourced to a third party.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We do what we say and use our</p>
         <p class="p1">own services to grow our business.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Keep up-to-date with the latest</p>
         <p class="p1">technical updates.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Around the clock Customer Service.</p>

       </div>
       <div class="box1">
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Make regular changes in our work</p>
         <p class="p1">strategy as per the search engine</p>
         <p class="p1">algorithms.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Not confined to just a single sized</p>
         <p class="p1">business.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Experienced team with clever</p>
         <p class="p1">minds and clear goals.</p>

       </div>
       <div class="box2">
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Deliver a range of services under</p>
         <p class="p1">one roof.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    350+ happy National and</p>
         <p class="p1">International Clients.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Use powerful automated tools to</p>
         <p class="p1">benefit clients’ business.</p>
         <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Good return on investments.</p>

       </div>
   </div>


   <div class="phase7">
      <h4>Our Expertise: Creating a Digital Strategy</h4>
      <h1>Set Your Goals High, And Don’t Stop Till You Get There.</h1>
      <p class="p1">Creature Technologies is a leading Digital Marketing Company in Chennai
         that attempts at accelerating dominant digitalization.</p>
      <p class="p">Our digital goals are high enough, to beat every tactic of our</p>
      <p>COMPETITORS.</p>
      <p class="p">Ever since its inception, this digital marketing company in</p>
      <p>Chennai has consistently endeavoured to attain excellence and</p>
      <p>offer valued solutions right from the first step to our potential</p>
      <p>clients.</p>
      <p class="p">One of the best Digital Marketing Company in Chennai “Creature</p>
      <p>Technologies” believe in delivering digital marketing solutions to</p>
      <p>our clientele that helps them beat their competitors and</p>
      <p>eventually become a pioneer in their respective field. For this, we</p>
      <p>deploy world-class services that fulfil our client’s business</p>
      <p>requirements.</p>
      <p class="p">Our Digital Marketing Strategies include  SEO, SMO, PPC,  Google</p>
      <p>Adwords, Website Development, Content Writing, and ORM.</p>
      <p>Besides all these, our digital experts are ready to resolve every</p>
      <p>issue you face on your business website, whenever and wherever</p>
      <p>you require.</p>
      <img src="{% static 'image/services/Business-deal-01.png' %}">
      <p class="p1">Contact the highly eminent digital marketing company in India ‘Creature Technologies’ to
         ensure quick, easy, effortless, cost-effective and </p>
         <p>timely results. We also offer digital marketing training in Lucknow.</p>




   </div>

  {% include 'base.html '%}


</div>




</body>
</html>
