*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;

    padding-left: 3%;
    padding-right: 1%;
    background: red;

}
nav ul{
    margin: 0;
    padding: 0px;
    float: right;
}
nav ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    background: red;
    padding: 0px 8px;
}
nav ul li a{
    display: block;
    padding: 0px 15px;
    line-height: 60px;
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    color: blue;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul .l1{
    width: 320px;
    border: 1px solid white;
}
nav ul ul li{
    width: 150px;
    border: 1px solid white;
}
nav ul ul .l2{
    width: 250px;
    border-top: 1px solid white;

}
.button1{
    border:3px solid rgb(0, 0, 0);
    background:rgb(255, 38, 0);
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
}
.search{
    background:rgb(255, 38, 0) ;
    border: none;
    font-size: 20px;
    color: blue;
}
nav ul ul ul{
    position: absolute;
    left: 149px;
    top: -1px;
    display: none;
}
nav ul ul ul li{
    width: 180px;
    border: 1px solid white;
}
nav ul ul .ul{
    position: absolute;
    left: 320px;
    top: -1px;
    display: none;
}
nav ul ul .ul li{
    width: 200px;
}
nav ul ul .u2{
    position: absolute;
    left: 250px;
    top: -1px;
    display: none;

}
nav ul ul .u2 li{
    width: 210px;

}
.phase1{
    padding: 40px;
}
.phase1 h1{
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:380px;
    transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}


.phase1 span{
    font-size: 25px;
    font-weight: 600;
}
.phase1 .p{
    font-size: 19px;
    margin-top: 25px;
}
.phase1 h5{
    font-size: 15px;
    margin-left: 40px;
    margin-top: -40px;
}
.phase1 .p1{
    font-size: 19px;
    margin-left: 38px;
    margin-top: 5px;
}
.phase1 .box{
    margin-left: 300px;
    margin-top: -50px;
    
}
.phase1 .box h6{
    margin-left: 40px;
    margin-top: -30px;
    font-size: 15px;
}
.phase1 form{
    margin-top: 50px;
} 
.phase1 .form1 input{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.phase1 .form2 input{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.phase1 .form2{
    margin-left: 350px;
    margin-top: -50px;
}
.phase1 img{
    width: 500px;
    height: 350px;
    float: right;
    margin-top: -400px;
}
.phase1{
    background: aliceblue;
}
