*{
    margin: 0;
    padding: 0;

}

  .navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 90px;

  }

  .navbar h2{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 32px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(32, 120, 227);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;


  }
  .dropdown-content a a{
    display: none;
  }

  .dropdown-content a:hover {
    background-color: rgb(0, 106, 255);
    color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
.navbar input{
    float: right;
    margin-right: 30px;
    height: 40px;
    margin-top: 25px;
    border-radius: 20px;
    background: yellow;
    width: 100px;
}
.navbar input:hover{
    background: blue;
    color: #fff;
}
.phase1{
    padding: 40px;
}
.phase1 h1{

    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;

}

.phase1 span{
    font-size: 25px;
    font-weight: 600;
}
.phase1 .p{
    font-size: 19px;
    margin-top: 25px;
}
.phase1 h5{
    font-size: 15px;
    margin-left: 40px;
    margin-top: -40px;
}
.phase1 .p1{
    font-size: 19px;
    margin-left: 38px;
    margin-top: 5px;
}
.phase1 .box{
    margin-left: 300px;
    margin-top: -50px;

}
.phase1 .box h6{
    margin-left: 40px;
    margin-top: -30px;
    font-size: 15px;
}
.phase1 form{
    margin-top: 50px;
}
.phase1 .form1 input{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

}
.phase1 .form1 input:hover,.phase1 .form2 input:hover,.phase3 form input:hover{
    background: red;
    color: black;
}
.phase1 .form2 input{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.phase1 .form2{
    margin-left: 350px;
    margin-top: -50px;
}
.phase1 img{
    width: 500px;
    height: 350px;
    margin-left: 600px;
    margin-top: -500px;
}
.phase1{
    background: aliceblue;
}
.phase2{
    padding: 140px 30px;
    background: red;
}
.phase2 div{
    float: right;
}
.phase2 div h1{
    font-size: 45px;
    margin-top: -50px;
    color:#fff;
}
.phase2 div p{
    font-size: 19px;
    font-family: sans-serif;
    color: #fff;
}
.phase2 div form input{
    width: 280px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.phase2 div h5{
    font-size: 18px;
    color: #fff;
}
.phase2 div label{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.phase3{
    padding: 40px;
    background: aliceblue;
    height: 3150px;
}
.phase3 h1{
    margin-top: 40px;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}
.phase3 h1 span{
    font-family: cursive;
    color: red;
}
.phase3 .box,.phase3 .box1,.phase3 .box2 ,.phase3 .box6,.phase3 .box9{
    border: none;
    margin-top: 30px;
    width: 360px;
    height: 650px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(190, 189, 189);
}
.phase3 .box:hover,.phase3 .box1:hover,.phase3 .box2:hover,.phase3 .box6:hover,.phase3 .box9:hover{
   box-shadow: 8px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.phase3 .box img,.phase3 .box1 img,.phase3 .box2 img,.phase3 .box6 img,.phase3 .box9 img{
    width: 300px;
    height: 300px;
    margin-left: 20px;
}
.phase3 .box h1,.phase3 .box1 h1,.phase3 .box2 h1,.phase3 .box6 h1,.phase3 .box9 h1{
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 25px;
}
.phase3 .box p,.phase3 .box1 p,.phase3 .box2 p,.phase3 .box6 p,.phase3 .box9 p,.phase3 .box10 p,.phase3 .box11 p{
    font-size: 18px;
    margin-left: 25px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.phase3 .box form input,.phase3 .box1 form input,.phase3 .box2 form input{
    margin-top: 80px;
    margin-left: 120px;
    border: 0.3px solid rgb(168, 164, 164);
    background: #fff;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: red;


}
.phase3 .box form input:hover, .phase3 .box1 form input:hover,.phase3 .box2 form input:hover,.phase3 .box6 form input:hover,.phase3 .box9 form input:hover{


    background: red;
    color: black;
}
.phase3 .box1{
    margin-left: 390px;
    margin-top: -650px;
}
.phase3 .box2,.phase3 .box9,.phase3 .box6{
    margin-left:780px ;
    margin-top: -650px;
}
.phase3 .box1 form input,.phase3 .box2 form input{
    margin-top: 40px;
    margin-left: 120px;
    border: 0.3px solid rgb(168, 164, 164);
    background: #fff;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: red;


}
.phase3 .box9 form input{
    margin-top: 120px;
    margin-left: 120px;
    border: 0.3px solid rgb(168, 164, 164);
    background: #fff;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: red;
}
.phase3 .box6 form input{
    margin-top: 53px;
    margin-left: 120px;
    border: 0.3px solid rgb(168, 164, 164);
    background: #fff;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: red;
}
.phase3 form input{
   margin-top: 50px;
   margin-left: 500px;
   width: 150px;
   height: 50px;
   background: blue;
   border: none;
   border-radius: 30px;
   font-size: 17px;
   color: #fff;
}
.phase3 .box10,.phase3 .box11{
    width: 500px;
    height: 650px;
    margin-top: 40px;
    margin-left: 40px;
    background:aliceblue;
    border: none;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    box-sizing: border-box;

}
.phase3 .box10 img,.phase3 .box11 img{
    margin-left: 40px;
    width: 400px;
    height: 400px;
}

.phase3 .box10 h1,.phase3 .box11 h1{
    text-align: center;
    font-size: 40px;
    font-family: monospace;

}
.phase3 .box11{
    width: 500px;
    height: 650px;
    margin-left: 600px;
    margin-top: -650px;
}
.phase4{
    padding: 60px;
    background: aliceblue;
    height: 870px;
}
.phase4 h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.phase4 img{
    width: 500px;
    height: 500px;
    margin-top: 40px;
    margin-left: 30px;
}
.phase4 h3{
    margin-top: 20px;
    margin-left: 150px;
}
.phase4 .p{
    height: 500px;
    width: 500px;
    border: none;
    float: right;
    margin-top: -550px;
}
.phase4 .p p{

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.phase4 .p .p1{
    margin-top: 20px;
}
.phase5{
    padding: 70px;
}
.phase5 .h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.phase5 h3{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.phase5 .p{
    margin-top: 30px;

}
.phase5 .p p{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.phase5 form input{
    margin-top: 50px;
    margin-left: 470px;
    width: 150px;
    height: 50px;
    background: blue;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
}
.phase5 h1{
    margin-top: 80px;
    font-size: 45px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.phase5 .p1{
    margin-top: 40px;
}
.phase5 .p1 .p2{
    margin-top: 20px;
}
.phase5 .p1 p{
    font-size: 20px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;

}
.phase5 img{
    width: 500px;
    height: 500px;
    margin-left: 600px;
    margin-top: -450px;
}
.phase6{
    margin-top: -60px;
    width: 100%;
    height: 500px;
}
.phase6 .box1,.phase6 .box2,.phase6 .box3,.phase6 .box4,.phase6 .box5,.phase6 .box6{
    margin-left: 80px;
    border: 0.3px solid rgb(232, 230, 230);
    width: 300px;
    height: 200px;
    border-radius: 5px 30px 5px 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 4px rgb(245, 245, 245);
}
.phase6 .box1 i,.phase6 .box2 i,.phase6 .box3 i,.phase6 .box4 i,.phase6 .box5 i,.phase6 .box6 i{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 70px;
    color: red;
}
.phase6 .box1 h2,.phase6 .box2 h2,.phase6 .box3 h2,.phase6 .box4 h2,.phase6 .box5 h2,.phase6 .box6 h2{
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.phase6 .box2,.phase6 .box5{
    margin-left: 460px;
    margin-top: -200px;
}
.phase6 .box3,.phase6 .box6{
    margin-left:840px ;
    margin-top: -200px;
}
.phase6 .box4{
    margin-top: 30px;
}
.phase6 .box5{
    margin-top: -200px;
}
.phase7{
    background: aliceblue;
    width: 100%;
    height: 1100px;

}
.phase7 h1{
    padding: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.phase7 .p{
    text-align: center;
    font-size: 18px;
    margin-left: 80px;
    margin-right: 80px;

}
.phase7 .box1,.phase7 .box2,.phase7 .box3,.phase7 .box4{
    width: 250px;
    height: 350px;
    border: 0.5px solid rgb(235, 229, 229);
    margin-left: 2.5%;
    border-radius:50px 0px 50px 0px ;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px 4px rgb(235, 234, 234);
    background: #fff;
    margin-top: 20px;
}
.phase7 .box1:hover,.phase7 .box2:hover,.phase7 .box3:hover,.phase7 .box4:hover{
     border: 1px solid red;
}
.phase7 .box1 h3,.phase7 .box2 h3,.phase7 .box3 h3,.phase7 .box4 h3{
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.phase7 .box1 .p1,.phase7 .box2 .p1,.phase7 .box3 .p1,.phase7 .box4 .p1{
    margin-top: 20px;

}
.phase7 .box1 p,.phase7 .box2 p,.phase7 .box3 p,.phase7 .box4 p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
}
.phase7 .box2{
    margin-left: 330px;
    margin-top: -350px;
}
.phase7 .box3{
    margin-left: 630px;
    margin-top: -350px;
}
.phase7 .box4{
    margin-left: 930px;
    margin-top: -350px;
}
.phase7 .box7{
    margin-left:5%;
    float: left;
}
.phase7 .box7 h2{
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 500px;
    font-size: 45px;

}

.phase7 .box7 .h5{
    margin-top: 25px;
    margin-left: 60px;


}
.phase7 .box7 h5{
    padding: 5px;
    font-size: 20px;
    padding-right: 50%;
    text-align: center;

}
.phase7 form input{
    margin-top: 50px;
    margin-left: 200px;
    width: 200px;
    height: 50px;
    background: blue;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
}
.phase7 .box7 iframe{
    margin-left: 600px;
    margin-top: -270px;

}
.phase8{

    background: aqua;
    text-align: center;
    width: 100%;
    height: 630px;


}
.phase8 h2{
    padding: 50px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
.phase8 h1{

    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
.phase8 h3{
    margin-top: 20px;
    font-size: 30px;
    color: red;
}
.phase8 .p{
   margin-top: 20px;
}
.phase8 p{
    padding: 5px;
    font-size: 20px;
}

.phase9{
    padding: 50px;
    background: aliceblue;
}
.phase9 h5{
    margin-top: 30px;
    font-size: 20px;
    margin-right: 600px;
    text-align: center;
}
.phase9 h2{
    margin-top: 25px;
    margin-right: 600px;
    text-align: center;
    font-size: 35px;
}
.phase9 h4{

    margin-right: 650px;
    text-align: center;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 30px;
}
.phase9 p{
    margin-top: 30px;
    margin-right: 600px;
    text-align: center;

}
.phase9 form input{
    margin-top: 50px;
    margin-left: 170px;
    width: 150px;
    height: 50px;
    background: blue;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
}
.phase9 img{
    float: right;
    margin-top: -370px;
}

.phase10{
    padding: 40px;
    margin-top: 30px;
}
.phase10 h3{
    font-size: 25px;
    color: red;
    font-family: 'Times New Roman', Times, serif;

}
.phase10 h1{
    margin-top: 20px;
    font-size: 30px;
    font-family: monospace;
}
.phase10 .p{
    margin-top: 30px;
}
.phase10 p{
    padding: 10px;
    font-size: 18px;
}
.phase10 .box1,.phase10 .box2,.phase10 .box3,.phase10 .box4{
    margin-top: 40px;
    margin-left: 10px;
    border: 0.3px solid rgb(232, 230, 230);
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 4px rgb(245, 245, 245);
    text-align: center;
}
.phase10 .box1 i,.phase10 .box2 i,.phase10 .box3 i,.phase10 .box4 i{
    margin-top: 20px;

    font-size: 70px;
    color: red;
}
.phase10 .box1 h2,.phase10 .box2 h2,.phase10 .box3 h2,.phase10 .box4 h2{
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.phase10 .box1 p,.phase10 .box2 p,.phase10 .box3 p,.phase10 .box4 p{
    font-size: 18px;
    margin-top: -17px;
}
.phase10 .box2{
    margin-left: 300px;
    margin-top: -200px;

}
.phase10 .box3{
    margin-left: 590px;
    margin-top: -200px;

}
.phase10 .box4{
    margin-left: 880px;
    margin-top: -200px;

}
.phase11{
    padding: 50px 70px 50px 70px;
    text-align: center;
    background: black;

}
.phase11 h1{
    font-size: 50px;
    color: #fff;
}
.phase11 h2{
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
}

.phase12{

    padding: 30px;
    background: black;
    width: 100%;
    height: 1000px;
}
.phase12 .text{
    border: 1px solid black;
    width: 500px;
    height: 750px;
    background: #fff;
    float: right;
    margin-right:60px;
}
.phase12 .text h3{
    margin-top: 30px;
    color: red;
    text-align: center;
}
.phase12 .text h1{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}
.phase12 .text h2{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.phase12 .text p{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
.phase12 .login {
    margin-top: 10px;
    padding: 20px;
    background: #fff;
}
.phase12 .login input[type=text], input[type=email],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
  }

.phase12 .login input[type=submit] {
    background-color: red;
    color: white;
    padding: 18px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  .phase12 .login input[type=submit]:hover {
    background-color:blue;
  }


.phase13{
    padding: 40px;
    width: 100%;
    height: 1000px;
}
.phase13 h1{
    text-align: center;
    font-size: 40px;
}
.phase14{
    padding: 40px;
    width: 100%;
    background:aqua;
    height: 320px;
}
.phase14 .box1 h2,.phase14 .box2 h2,.phase14 .box3 h2,.phase14 .box4 h2,.phase14 .box5 h2,.phase14 .box6 h2{
   color: rgb(0, 0, 0);
}
.phase14 .box1 ul,.phase14 .box2 ul,.phase14 .box3 ul,.phase14 .box4 ul,.phase14 .box5 ul,.phase14 .box6 ul{
    list-style: none;
    margin-top: 30px;


}
.phase14 .box1 ul li,.phase14 .box2 ul li,.phase14 .box3 ul li,.phase14 .box4 ul li,.phase14 .box5 ul li,.phase14 .box6 ul li{
      padding-bottom: 10px;
      padding-top: 10px;
}
.phase14 .box1 ul li a,.phase14 .box2 ul li a,.phase14 .box3 ul li a,.phase14 .box4 ul li a,.phase14 .box5 ul li a,.phase14 .box6 ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.phase14 .box1 ul li a:hover,.phase14 .box2 ul li a:hover,.phase14 .box3 ul li a:hover,.phase14 .box4 ul li a:hover,.phase14 .box5 ul li a:hover,.phase14 .box6 ul li a:hover{
    background: rgb(233, 7, 7);
    color: #fff;
}
.phase14 .box2{
    margin-left: 190px;
    margin-top: -251px;
}
.phase14 .box3{
    margin-left: 390px;
    margin-top: -251px;
}
.phase14 .box4{
    margin-left: 590px;
    margin-top: -251px;
}
.phase14 .box5{
    margin-left: 790px;
    margin-top: -173px;
}
.phase14 .box6{
    margin-left: 990px;
    margin-top: -211px;
}

.phase15{
    padding: 30px;
    width: 100%;
    text-align: center;
    background: rgb(2, 2, 2);

}
.phase15 ul{
    list-style: none;
    display: inline-flex;


}
.phase15 ul li{
    padding: 5px;
}
.phase15 p{
    margin-top: 30px;
    font-size: 18px;
    color: #fff;
}
.phase15 ul li img{
    cursor: pointer;
}
.phase15 ul li img:hover{
    border: 1px solid red;
}