*{
    margin: 0;
    padding: 0;
}


  .navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 90px;
  }

  .navbar h2{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 32px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(32, 120, 227);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 90px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;


  }
  .dropdown-content a a{
    display: none;
  }

  .dropdown-content a:hover {
    background-color: rgb(0, 106, 255);
    color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
.navbar input{
    float: right;
    margin-right: 30px;
    height: 40px;
    margin-top: 25px;
    border-radius: 20px;
    background: yellow;
    width: 100px;
}
.navbar input:hover{
    background: blue;
    color: #fff;
}

.phase1{

  width: 100%;
  height: 600px;
  background: aliceblue;
  padding-top: 40px;

}
.phase1 h1{

  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-right: 600px;
  margin-left: 100px;


}
.phase1 .p{
  margin-top: 20px;

  margin-right: 600px;
}
.phase1 p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-left: 100px;
}
.phase1 .button1{
  width: 200px;
  height: 50px;
  font-size: 17px;
  background: yellow;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  cursor: pointer;
  margin-left: 100px;
}
.phase1 .button2{
  width: 200px;
  height: 50px;
  font-size: 17px;
  background: yellow;
  outline: none;
  border:1px solid white;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-left: 350px;
  margin-top: -50px;
  position: absolute;
  cursor: pointer;

}
.phase1 .button1:hover,.phase1 .button2:hover{
  color: white;
  background: blue;
}

.phase1 img{
  width: 500px;
  height: 500px;
  float: right;
  margin-top: -450px;
  margin-right: 40px;
}



.phase3{
  padding: 40px;
  background: aliceblue;
  height: 2150px;
}
.phase3 h1{
  margin-top: 40px;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
.phase3 h1 span{
  font-family: cursive;
  color: red;
}
.phase3 .box,.phase3 .box1,.phase3 .box2 ,.phase3 .box6,.phase3 .box9{
  border: none;
  margin-top: 30px;
  width: 360px;
  height: 650px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgb(190, 189, 189);
}
.phase3 .box:hover,.phase3 .box1:hover,.phase3 .box2:hover,.phase3 .box6:hover,.phase3 .box9:hover{
 box-shadow: 8px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.phase3 .box img,.phase3 .box1 img,.phase3 .box2 img,.phase3 .box6 img,.phase3 .box9 img{
  width: 300px;
  height: 300px;
  margin-left: 20px;
}
.phase3 .box h1,.phase3 .box1 h1,.phase3 .box2 h1,.phase3 .box6 h1,.phase3 .box9 h1{
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 25px;
}
.phase3 .box p,.phase3 .box1 p,.phase3 .box2 p,.phase3 .box6 p,.phase3 .box9 p,.phase3 .box10 p,.phase3 .box11 p{
  font-size: 18px;
  margin-left: 25px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.phase3 .box form input,.phase3 .box1 form input,.phase3 .box2 form input{
  margin-top: 80px;
  margin-left: 120px;
  border: 0.3px solid rgb(168, 164, 164);
  background: #fff;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: red;


}
.phase3 .box form input:hover, .phase3 .box1 form input:hover,.phase3 .box2 form input:hover,.phase3 .box6 form input:hover,.phase3 .box9 form input:hover{


  background: red;
  color: black;
}
.phase3 .box1{
  margin-left: 390px;
  margin-top: -650px;
}
.phase3 .box2,.phase3 .box9,.phase3 .box6{
  margin-left:780px ;
  margin-top: -650px;
}
.phase3 .box1 form input,.phase3 .box2 form input{
  margin-top: 40px;
  margin-left: 100px;
  border: 0.3px solid rgb(168, 164, 164);
  background: #fff;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: red;


}
.phase3 .box9 form input{
  margin-top: 120px;
  margin-left: 100px;
  border: 0.3px solid rgb(168, 164, 164);
  background: #fff;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}
.phase3 .box6 form input{
  margin-top: 53px;
  margin-left: 100px;
  border: 0.3px solid rgb(168, 164, 164);
  background: #fff;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}
.phase3 form input{
 margin-top: 50px;
 margin-left: 500px;
 width: 150px;
 height: 50px;
 background: blue;
 border: none;
 border-radius: 30px;
 font-size: 17px;
 color: #fff;
}
.phase3 .box10,.phase3 .box11{
  width: 500px;
  height: 650px;
  margin-top: 40px;
  margin-left: 40px;
  background:aliceblue;
  border: none;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
  box-sizing: border-box;

}
.phase3 .box10 img,.phase3 .box11 img{
  margin-left: 40px;
  width: 400px;
  height: 400px;
}

.phase3 .box10 h1,.phase3 .box11 h1{
  text-align: center;
  font-size: 40px;
  font-family: monospace;

}
.phase3 .box11{
  width: 500px;
  height: 650px;
  margin-left: 600px;
  margin-top: -650px;
}

.phase4{
  width: 100%;
  background: rgb(0, 0, 0);
  height: 400px;
}
.phase4 h1{
  font-size: 45px;
  text-align: center;
  padding: 40px;
  color: #fff;
}
.phase4 h3{
  text-align: center;
  font-size: 20px;
  color: rgb(255, 242, 4);
}
.phase4 div {
  margin-top: 40px;
}
.phase4 span{
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.phase4 .p1{
  margin-left: 50px;
  color: #fff;
}
.phase4 .p2{
  margin-left: 450px;
  margin-top: -85px;
  color: #fff;
}
.phase4 .p3{
  margin-left: 850px;
  margin-top: -85px;
  color: #fff;
}
.phase4 div .p{
  margin-left: 17px;
}
.phase4 i{
   color: yellow;
}


.phase5{
  width: 100%;
  height: 550px;
  background: aliceblue;
}
.phase5 h1{
  margin-right: 650px;
  margin-left: 80px;
  font-size: 40px;
  padding-top: 50px;
}
.phase5 .p{
  margin-top: 20px;
  margin-left: 80px;
}
.phase5 p{
  margin-left: 80px;
  padding: 5px;
  font-size: 20px;
}
.phase5 img{
  margin-left: 650px;
  margin-top: -400px;
}

.phase6{
  width: 100%;
  height: 400px;

}
.phase6 .box,.phase6 .box1,.phase6 .box2{
   border: none;
   width: 350px;
   height: 250px;

   margin-top: 30px;
   margin-left: 50px;
   box-sizing: border-box;
   box-shadow: 2px 3px 10px 8px rgba(0, 0, 0, 0.3);

}

.phase6 .box .p,.phase6 .box1 .p,.phase6 .box2 .p{
  padding-top: 20px;
  margin-left: 30px;
  font-size: 18px;
}
.phase6 .box .p1,.phase6 .box1 .p1,.phase6 .box2 .p1{
  margin-left: 47px;
  font-size: 18px;
}
.phase6 i{
  color: rgb(6, 30, 244);
}
.phase6 .box1{
  margin-left: 430px;
  margin-top: -250px;
}
.phase6 .box2{
  margin-left: 810px;
  margin-top: -250px;
}

.phase7{
  width: 100%;
  height: 800px;
}
.phase7 h4{
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.phase7 h1{
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}
.phase7 .p1{

  font-size: 19px;
  margin-top: 30px;
  padding: 5px;
}
.phase7 .p{
  margin-top: 30px;

}
.phase7 p{
  padding: 5px;
  margin-left: 60px;
  font-size: 19px;
}
.phase7 img{
  float: right;
  margin-top: -570px;
  width: 500px;
  height: 500px;
  margin-right: 100px;
}
