{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'assets/css/home1.css' %}">
    <link rel="stylesheet" href="{%  static 'assets/css/base.css' %}">
    
    <title>Home!</title>
  </head>
  <body>


<div class="common">
  <div class="menu-bar">
    <ul>
      <img src="static/dj_app/media/holidays2.png" alt="logo" class="aadiran"> 
      <li class=""><a href="home1.html">Home</a></li>
      <li><a href="#">Wedding</a></li>
      <li><a href="#">Packages</a>
        <div class="sub-menu">
          <ul >
          <li><a href="bali.html">Bali</a></li>
          <li><a href="kodaikanal.html">Kodaikanal</a></li>
          <li><a href="kerala.html">Kerala</a></li>
          <li><a href="shirdi.html">Shirdi</a></li>
          <li><a href="manali.html">Manali</a></li>
        
          </ul>
        </div>
      </li>
    
      <li><a href="#">HoneyMoon</a>
        <div class="sub-menu1">
          <ul>
          <li><a href="goa.html">Goa</a></li>
          <li><a href="bali.html">Bali</a></li>
          </ul>
      </div>
    </li>
      <li><a href="#">Resorts</a></li>
      <!-- <li><a href="#">Tick
        ets</a></li> -->
      
    </ul></div>
    <div class="split">
      <li><a href="enquire.html">Register Now</a></li>
    </div>
  </div>

  
 
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mycarousel" data-slide-to="1"></li>
      <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/kodaikanal.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/shirdi.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/bali1.jpeg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/candle1.jpeg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/kodaikanal1.jpeg" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img id="carouselimg" class="d-block w-100" src="static/dj_app/media/kerala.jpeg" alt="Sixth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br><br>



  <h1 style="text-align:center">Popular Packages</h1><br><br><br>
    <div class="row">
      <div class="column">
        <p><a href="bali.html">
        <img src="static\dj_app\media\bali.jpeg" href="seat.html" alt="image" style="width:100%">
        <h3 style="text-align:center">Bali</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
          2 days</h5>
        </a></p>
      </div>
      <div class="column">
        <p><a href="thailand.html">
        <img src="static\dj_app\media\shirdi.jpeg" href="seat.html" alt="image" style="width:100%">
        <h3 style="text-align:center">Shirdi</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
          4 nights 5 days</h5>
        </a></p>
      </div>
      <div class="column">
        <p><a href="bali.html">
        <img src="static\dj_app\media\candle.jpeg" alt="image" style="width:100%">
        <h3 style="text-align:center">Candle Light Dinner</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
          4 nights 5 days</h5>
        </a></p>
        
      </div>
      <div class="column">
        <p><a href="bali.html">
        <img src="static\dj_app\media\manali.jpeg" alt="image" style="width: 100%">
        <h3 style="text-align:center">Manali</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
        5 nights 6 days</h5>
      </a></p>
      </div>
    

      <div class="column">
        <p><a href="bali.html">
        <img src="static\dj_app\media\kerala.jpeg" alt="Boating" style="width:100%">
        <h3 style="text-align:center">Kerala</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
        3 nights 4 days</h5>
      </a></p>
      </div>

      <div class="column">
        <p><a href="bali.html"> 
        <img src="static\dj_app\media\kodaikanal.jpeg" alt="Mountains" style="width:100%">
        <h3 style="text-align:center">Kodaikanal</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
        3 days 2 nights</h5>
      </a></p>
      </div>

      <!-- <div class="column">
        <p><a href="honeymoonkit.html">
        <img src="static\dj_app\media\honeymoonkit.jpeg" alt="Mountains" style="width:100%">
        <h3 style="text-align:center">HoneyMoonKit</h3>
        <h5 style="text-align:center;"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/439/435/small/clock-icon-design-element-logo-element-illustration-clock-symbol-icon-free-vector.jpg" alt="image" class="gps" />
        3 days</h5>
      </a></p>
      </div> -->
    </div>
    <div class="row">
      <div class="side"><br><br>
        <h1 style="text-align:center">Stay Connected
        <p class="p2"><img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-call_90518.png" alt="image" class="call" /></p>9092105558<br>9941883804</h1>
       
        <h1 style="text-align:center">
          <p class="p2"><img src="https://cdn-icons-png.flaticon.com/512/761/761755.png"alt="image" class="call" /></p>aadiranholidays@gmail.com</h1>
        
      </div>
      <div class="main">
        <h2>Book Your Packages</h2><br>
        <form action="login.html" method="POST">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
        
            <input type="text" id="fname" name="fname" placeholder="Name" Required>
            <br>
            <br>
        
            <input type="text" id="lname" name="lname" placeholder="City of Residencee" Required>
            <br>
            <br>
        
            <input type="email" id="email" name="email" placeholder="Email Address" Required>
            <br>
            <br>
            <input type="number" id="mobile" name="mobile" placeholder="Phone Number" Required>
            <br>
            <br>
            <input type="text" id="destination" name="destination" placeholder="Travel Destination" Required>
            <br>
            <br>
            <input type="date" id="date" name="date" placeholder="Date of Travel" Required>
            <br>
            <br>
            <input type="number" id="number" name="number" placeholder="No. of People" Required>
            <br>
            <br>
            <select id="vacation" name="vacation">
              <option value="vacation">Vacation Type</option>
              <option value="honeymoon">HoneyMoon</option>
              <option value="friends">Friends Trip</option>
              <option value="Family">Family Trip</option>
            </select>
            <br>
            <br>
              <button class="button">Enquire Now</button>
        </form> 
    
      </div>
      </div>
      
      {% include "base.html" %}
    </div>
    <div>
      <a href="https://wa.me/+919092105558?text=I'm%20interested%20in%20to%chat" target="_blank" id="whatsappchat">
        <img src="static/dj_app/media/whatsapp.png" alt="whatsapp" width="120px">
      </a>
    </div>

    <footer id="footer-copyright" style="text-align:center;">
      <p>&copy; Creature Technology, Ltd. All Rights Reserved.</p>
    </footer>
    


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
     
    </body>
  </html>