{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <link rel="stylesheet" href="{%  static 'assets/css/ticketlist.css' %}">
</head>
<body>
    <form>
        <div class="container">
           <h2>A1 TRAVELS</h2><h4>4.9/5 </h4><p class="p1">43 ratings&#9733;&#9733;&#9733;&#9734;&#9734;</p>
           <pre>A1 Travels A/C Sleeper (2+1)   |  22 Seats left     10 Window Seats</pre>
           <h3>11:45PM------8hrs15mins------08:00AM</h3>
           <hr>
           <p class="p2"><img src="//jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-gps.704f79e1.svg" alt="image" class="gps" />Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >People's Choice</a></li>
               <li><a href="" >Personal TV</a></li>
               <li><a href="" >Extra Legroom</a></li>
               <li><a href="https://st.redbus.in/bo-images/IND/WM/10884/16/FR/L/penRe7.jpeg" >Photos</a></li>
          
                </ul>
           </div>
           <div class="b">
            <br><br>
            <h2 class="rupees">₹899</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">

           </div>
        </div>
    </form>
    <form>
        <div class="container">
           <h2>SNR Travels</h2><h4>4.2/5</h4><p class="p1">75 ratings&#9733;&#9733;&#9733;&#9733;&#9733;</p>
           <pre>NON A/C Seater / Sleeper 2+1  |  13 Seats left     9 Window Seats</pre>
           <h3>8:15 PM------9hrs------05:15AM</h3>
           <hr>
           <p class="p2"><img src="//jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-gps.704f79e1.svg" alt="image" class="gps" />Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >People's Choice</a></li>
               <li><a href="" >Comfortable Seats</a></li>
               <li><a href="" >On Time</a></li>
               <li><a href="" >Pickups & Drops</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <h2 class="rupees">₹899</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">

           </div>
        </div>
    </form>
    <form>
        <div class="container">
           <h2>City Travels</h2><h4>3.5/5</h4><p class="p1">86 ratings</p>
           <pre>NON AC/Sleeper 2+1  |  28 Seats left     10 Window Seats</pre>
           <h3>9:30PM------7hrs-----04:30</h3>
           <hr> 
           <p class="p2"><img src="//jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-gps.704f79e1.svg" alt="image" class="gps" />Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >People's Choice</a></li>
               <li><a href="" >Personal TV</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <h2 class="rupees">₹999</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">
           </div>
        </div>
    </form>
    <form>
        <div class="container">
           <h2>Essar</h2><h4>4.8/5<img src="https://miro.medium.com/max/962/1*589bVD2hvyykX_PN_K5CmA.png"height="25" width="60"></h4><p class="p1">116 ratings</p>
           <pre>NON AC/Sleeper 2+1  |  8 Seats left     10 Window Seats</pre>
           <h3>11:30PM------8hrs-----7:30</h3>
           <hr> 
           <p class="p2"><img src="//jsak.mmtcdn.com/bus_cdn_dt/static/media/ic-gps.704f79e1.svg" alt="image" class="gps" />Live tracking</p>
           <hr>
           <div class="a">
              <ul>
               <li><a href="" >People's Choice</a></li>
               <li><a href="" >Personal TV</a></li>
               <li><a href="" >Reviews</a></li>
                </ul>
           </div>
           <div class="b">
            <br>
            <h2 class="rupees">₹1199</h2><br><br><br><br><br>
            <input type="submit" value="Select Seats">
           </div>
        </div>
    </form>

    <footer id="footer-copyright" style="text-align:center;">
        <p>&copy; Creature Technology, Ltd. All Rights Reserved.</p>
      </footer>
</body>
</html>
