/* menubar */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  

  /*enquire */
  p.b {
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .side {
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  /* Main column */
.main {
    flex: 20%;
    background-color: white;
    padding: 20px;
  }
  button{
    background-color:  rgb(247, 251, 7);
    padding: 10px;
  }



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(249, 249, 249);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(6, 8, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(247, 251, 7);
  }
  /* main menubar */

*
{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.menu-bar
{
  overflow: hidden;
  background-color:white;
  text-align: center;
}


.menu-bar ul
{
  display:flex;
  justify-content: flex-start;
  list-style: none;
  color:white;
  margin:0;
}

.menu-bar ul li{
display: flex;
align-items: center;
justify-content: center;
  width:130px;
  /* padding:10px; */
}
.menu-bar ul > .aadiran{
 
  width:150px;
  height:50px;

}
.menu-bar ul li a
{
  text-decoration: none;
  color:black;
}
.active, .menu-bar ul li:hover{
  background: yellow;
  border-radius: 3px;
  
}
.sub-menu
{
  display: none;
}
.menu-bar ul li:hover .sub-menu
{
  display: block;
  position: absolute;
  background:white;
  margin-top: 330px;
  z-index: 1;
  
}
.menu-bar ul li:hover .sub-menu ul{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
/* submenu1 */
.sub-menu1
{
  display: none;
}
.menu-bar ul li:hover .sub-menu1
{
  display: block;
  position: absolute;
  background:white;
  margin-top: 175px;
  z-index: 1;
  
}
.menu-bar ul li:hover .sub-menu1 ul{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* sub-menuleft */
/* .sub-menuleft
{
  display: none;
}
.menu-bar ul li:hover .sub-menuleft
{
  display: block;
  position: absolute;
  background:white;
  margin-top: 175px;
  z-index: 1;
  
}
.menu-bar ul li:hover .sub-menuleft ul{
  display: flex;
  flex-direction: column;
  margin: 10px;
} */

/* submenuleft */

.split li a
{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  /* list-style: none; */
}
 .common
 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: black;
}
 
.split li:hover
{
  border-radius: 3px; 
  background-color: yellow; 
  padding: 0px;
  display: block;
}


div{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid yellow;
    padding: 50px;
    margin: 20px;
}






#footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}