*{
    margin: 0;
    padding: 0;
}
.pase1{
    width: 100%;
    background: aliceblue;
    height: 800px;
}
.pase1 h4{
    padding-top: 40px;
    margin-left: 70px;
    font-size: 20px;
}
.pase1 h1{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 40px;
    margin-right: 700px;
}
.pase1 p{
    margin-left: 70px;
    padding-top: 5px;
    font-size: 20px;
    margin-right: 700px;

}
.pase1 .p{
    margin-top: 40px;
}
.pase1 img{
    margin-left: 700px;
    margin-right: 0px;
    margin-top: -550px;
    width: 500px;
    height: 500px;
}
.pase1 .button1{
    width: 200px;
    height: 50px;
    font-size: 17px;
    background: yellow;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    cursor: pointer;
    margin-left: 70px;
}
.pase1 .button2{
    width: 200px;
    height: 50px;
    font-size: 17px;
    background: yellow;
    outline: none;
    border:1px solid white;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-left: 300px;
    margin-top: -50px;
    position: absolute;
    cursor: pointer;
}
.pase1 .button1:hover,.pase1 .button2:hover{
    color: white;
    background: blue;
}

.pase2{
    width: 100%;
    height: 350px;
    text-align: center;
}
.pase2 h1{
    padding-top: 40px;
    font-size: 40px;

}
.pase2 h2{
    font-size: 36px;
    margin-top: 10px;

}
.pase2 .p{
    margin-top: 20px;
}
.pase2 p{
    padding-top: 8px;
    font-size: 18px;
}
.pase3{
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: black;
}
.pase3 h1{
    padding-top: 60px;
    font-size: 40px;
    color: #fff;

}
.pase3 h2{
    font-size: 36px;
    margin-top: 10px;
    color: rgb(245, 225, 10);

}
.pase3 .p{
    margin-top: 20px;
}
.pase3 p{
    padding-top: 8px;
    font-size: 20px;
    color: #fff;

}

.pase4{
    width: 100%;
    height: 700px;

}
.pase4 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}
.pase4 .box1,.pase4 .box2,.pase4 .box3{
    text-align: center;
    width: 300px;
    height: 330px;
    border:1px solid rgb(210, 209, 207);
    margin-left: 50px;
    margin-top: 60px;
    border-radius: 10px;
}
.pase4 .box1 .circle,.pase4 .box2 .circle,.pase4 .box3 .circle{
    width: 100px;
    height: 100px;
    border-radius: 100px;

    text-align: center;
    margin-left: 98px;
    margin-top: 20px;
    background: rgb(255, 204, 2);
}
.pase4 .box1 .circle i,.pase4 .box2 .circle i,.pase4 .box3 .circle i{
    font-size: 40px;
    padding-top: 30px;
    color: #fff;
}
.pase4 .box1 h3,.pase4 .box2 h3,.pase4 .box3 h3{
    margin-top: 40px;
}
.pase4 .box1 h4,.pase4 .box2 h4,.pase4 .box3 h4{
    margin-top: 10px;
}
.pase4 .box1 p,.pase4 .box2 p,.pase4 .box3 p{
    margin-top: 10px;
    font-size: 15px;
}
.pase4 .box1 input,.pase4 .box2 input,.pase4 .box3 input{
    width:110px ;
    height: 40px;
    margin-top: 40px;
    background: #fff;
    border:1px solid rgb(210, 209, 207);
    color: rgb(255, 204, 2);
    border-radius: 5px;
}
.pase4 .box2{
    margin-left: 460px;
    margin-top: -330px;
}
.pase4 .box3{
    margin-left: 860px;
    margin-top: -330px;
}
.pase4 .box1:hover,.pase4 .box2:hover,.pase4 .box3:hover{
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pase5{
    width: 100%;
    height: 500px;
    text-align: center;

}
.pase5 h1{
     font-size: 45px;
}
.pase5 h2{
    font-size: 40px;
    margin-top: 10px;
}
.pase5 .p{
    margin-top: 20px;

}
.pase5 p{
    padding-top: 8px;
    font-size: 20px;
}
.pase5 span{
    color: orangered;
}
.pase5 label{
    color: rgb(243, 195, 6);

}

.pase6{
    width: 100%;
    height: 1000px;
    text-align:  center;
}
.pase6 h1{
    font-size: 40px;
}
.pase6 .box1,.pase6 .box2,.pase6 .box3{
    border: 1px solid rgb(199, 199, 193);
    width: 330px;
    height: 380px;
    margin-left: 50px;
    margin-top: 50px;
}
.pase6 h3{
    margin-top: 20px;
    font-size: 20px;
}
.pase6 p{
     padding-top: 8px;
    font-size: 18px;
}
.pase6 .p{
  margin-top: 20px;
}
.pase6 .box2{
    margin-left: 440px;
    margin-top: -382px;
}
.pase6 .box3{
    margin-left: 840px;
    margin-top: -382px;

}

.pase7{
    width: 100%;
    height: 650px;
    text-align: center;
    background: rgb(0, 0, 0);

}
.pase7 h1{
    font-size: 45px;
    color: #fff;
    padding-top: 80px;
}
.pase7 h2{
    font-size: 45px;
    margin-top: 10px;
    color: rgb(250, 234, 6);
}
.pase7 .p{
    margin-top: 30px;
}
.pase7 p{
    font-size: 20px;
    padding-top: 8px;
    color: #fff;

}
.pase7 h3{
    padding-top: 8px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pase8{
    width: 100%;
    height: 400px;

}
.pase8 h1{
   padding-top: 80px;
    text-align: center;
    margin-left: 50px;
    margin-right: 750px;
}
.pase8 div{
    float: right;
    margin-right: 90px;
    margin-top: -80px;
    font-size: 20px;

    height: 300px;
}
.pase8 p{
    padding-top: 8px;
}

.pase9{
    width: 100%;
    height: 350px;
    text-align: center;

}
.pase9 h1{
    font-size: 40px;
}
.pase9 .p{
    margin-top: 30px;
}
.pase9 p{
    padding-top: 8px;
    font-size: 20px;
}
.pase9 h2{
    font-size: 40px;
    margin-top: 30px;
    color: rgb(255, 196, 0);
}

.pase10{
    width: 100%;
    height: 3700px;
}
.pase10 .box1,.pase10 .box5{
    width: 90%;
    height: 450px;

    margin-left: 50px;
}
.pase10 .box1 img{
    margin-left: 30px;
    margin-top: 40px;
}
.pase10 .box1 .text1,.pase10 .box5 .text1{
    float:right;
}
.pase10 .box1 .text1 h1,.pase10 .box5 .text1 h1{
    margin-right: 300px;
    margin-top: 30px;
}
.pase10 .box1 .text1 .p,.pase10 .box5 .text1 .p{
    margin-top: 30px;
}
.pase10 .box1 .text1 p,.pase10 .box5 .text1 p{
    font-size: 20px;
    padding-top: 10px;
}
.pase10 .box2,.pase10 .box6{
    width: 90%;
    height: 450px;

    margin-left: 50px;
}
.pase10 .box2 .text2,.pase10 .box6 .text2{
    margin-left: 30px;
    margin-top: 40px;
}
.pase10 .box2 img,.pase10 .box6 img{
    float:right;
    margin-top: -280px;
}
.pase10 .box2 .text2 h1,.pase10 .box6 .text2 h1{

    margin-top: 30px;
}
.pase10 .box2 .text2 .p,.pase10 .box6 .text2 .p{
    margin-top: 30px;
}
.pase10 .box2 .text2 p,.pase10 .box6 .text2 p{
    font-size: 20px;
    padding-top: 10px;
}

.pase10 .box6 .text2{
    margin-top: 140px;
}


.pase11{
    width: 100%;
    height: 500px;
    text-align:center;
    background: black;
    margin-top: 70px;

}
.pase11 h1{
    padding-top: 120px;
    font-size: 40px;
    color: #fff;


}
.pase11 .p{
    margin-top: 30px;
}
.pase11 p{
    padding-top: 7px;
    font-size: 20px;
    color: #fff;

}

.slider{
    max-width: 1100px;
    display: flex;
    margin-left: 60px;
    padding-top: 30px;
    height: 700px;

}

.slider .card{
    text-align: center;
    flex: 1;
    margin: 0px 20px;
    width: 330px;
    height: 540px;
    border: 1px solid black;


}
.slider .card .img{
    height: 200px;
    width: 400px;
}
.slider .card .img img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 80px;

}

.slider .card .content h1{
    margin-top: 10px;
    color: #fff;
}
.slider .card .content{
    background:black;
    height: 310px;
}
.slider .card .content p{
    font-size: 18px;
    padding-top: 5px;
    color: #fff;

}
.slider .card .content .p{
    margin-top: 10px;
}

.pase12{
    width: 100%;
    height: 2900px;
}
.pase12 h1{
    font-size: 40px;
    text-align: center;
}
.pase12 .box1,.pase12 .box2,.pase12 .box3{
    width: 350px;
    height: 2700px;
    border: 1px solid rgb(227, 129, 18);
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
}
.pase12 .box1 .text1,.pase12 .box2 .text1,.pase12 .box3 .text1{
    width: 350;
    height: 120px;
    border: 1px solid rgb(255, 153, 0);
    border-radius: 10px 10px 0px 0px;
    background: rgb(255, 153, 0);

}
.pase12 .box1 .text1 h2,.pase12 .box2 .text1 h2,.pase12 .box3 .text1 h2{
   text-align: center;
   font-size: 25px;
   margin-top: 20px;
}
.pase12 .box1 .text1 p,.pase12 .box2 .text1 p,.pase12 .box3 .text1 p{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;

}
.pase12 h3{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.pase12 p{
    text-align: center;
    font-size: 15px;
}
.pase12 .p{
    margin-top: 20px;
}
.pase12 h4{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.pase12 hr{
   margin-top: 10px;
   margin-bottom: 10px;
   width: 270px;
   margin-left: 40px;
}
.pase12 span{
    margin-left: 20px;
    font-size: 18px;
}
.pase12 .box1 form input,.pase12 .box2 form input,.pase12 .box3 form input{
    margin-top: 40px;
    margin-left: 100px;
    width: 150px;
    height: 40px;
    background: rgb(255, 153, 0);
    color: #fff;
    border: none;
}
.pase12 .box2{
    margin-left: 425px;
    margin-top: -2702px;
}
.pase12 .box3{
    margin-left: 820px;
    margin-top: -2702px;

}
.pase12 i{
    font-size: 20px;
}
.pase12 span  .fa-check-circle{
    color: rgb(114, 224, 114);
}
.pase12 span  .fa-times-circle{
    color: rgb(219, 77, 64);
}

.pase13{
    width: 100%;
    height: 200px;
    text-align: center;
}
.pase13 p{
     margin-top: 15px;
     font-size: 20px;
}
.pase13 span {
    font-weight: bold;
}

.pase14{
    width: 100%;
    height: 700px;
}
.pase14 h1{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
.pase14 .p{
    margin-top: 20px;
}
.pase14 p{
    font-size: 20px;
    padding-top: 8px;
    margin-left: 30px;
}
.pase14 img{
    width: 500px;
    height: 500px;
    float: right;
    margin-top: -420px;
    margin-right: 70px;
}
.pase15{
    width: 100%;
    height: 1500px;
}
.pase15 h1{
    font-size: 40px;
    text-align: center;
}
.pase15 .box1,.pase15 .box2{
    border: 1px solid rgb(255, 149, 0);
    width: 500px;
    height: 630px;
    text-align: center;
    margin-left: 50px;
    margin-top: 40px;
}
.pase15 img{
    width: 300px;
    height: 300px;

}
.pase15 .box1 h1,.pase15 .box2 .h1{
    margin-top: 10px;
    font-size: 40px;
}

.pase15 .p{
    margin-top: 10px;
}
.pase15 p{
    padding-top: 8px;
    font-size: 18px;
}
.pase15 .box2{
    margin-left: 660px;
    margin-top: -632px;
}

.pase16{
    width: 100%;
    height: 400px;
    text-align: center;
    background: rgb(0, 0, 0);
}
.pase16 h1{
    font-size: 40px;
    padding-top: 60px;
    color: #fff;
}
.pase16 .p{
    margin-top: 30px;
}
.pase16 p{
    font-size: 20px;
    color: #fff;

    padding-top: 8px;
}

.pase17{
    width: 100%;
    height: 1110px;
}
.pase17 img{
    width: 200px;
    height: 200px;
    margin-top: 20px;

}
.pase17 .box1,.pase17 .box2,.pase17 .box3,.pase17 .box4,.pase17 .box5,.pase17 .box6{
    width: 350px;
    height: 500px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    margin-left: 50px;
}
.pase17 .box1 h1,.pase17 .box2 h1,.pase17 .box3 h1,.pase17 .box4 h1,.pase17 .box5 h1,.pase17 .box6 h1{
      font-size: 30px;
      margin-top: 20px;
}
.pase17 .box1 .p,.pase17 .box2 .p,.pase17 .box3 .p,.pase17 .box4 .p,.pase17 .box5 .p,.pase17 .box6 .p{
    margin-top: 18px;
}
.pase17 .box1 p,.pase17 .box2 p,.pase17 .box3 p,.pase17 .box4 p,.pase17 .box5 p,.pase17 .box6 p{
    font-size: 18px;
    padding-top: 7px;
}

.pase17 .box2{
    width: 350px;
    height: 500px;
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    margin-left: 430px;
    margin-top: -500px;
}
.pase17 .box3{
    margin-left: 810px;
    margin-top: -500px;
}

.slider1{
    max-width: 1000px;
    display: flex;
    margin-left: 150px;
    margin-right: 5%;
    padding-top: 30px;
    height: 300px;

}

.slider1 .card{
    text-align: center;
    flex: 1;
    margin: 0px;
    width: 250px;
    height: 250px;



}
.slider1 .card .img{
    height: 200px;
    width: 200px;

}
.slider1 .card .img img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 60px;

}

.slider1 .card .content h1{
    margin-top: 10px;
    margin-left: 30px;
}

.pase18{
    width: 100%;
    height: 500px;
    text-align: center;

}
.pase18 h2{
    font-size: 40px;
    padding-top: 30px;
}
.pase18 p{
    margin-top: 20px;
    font-size: 20px;
}

.pase19{
    width: 100%;
    height: 1200px;
}
.pase19 h1{
    margin-left: 40px;

}
.pase19 .summary{
   margin-top: 40px;
}
.pase19 summary{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 25px;

}
.pase19 hr{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 900px;
    margin-left: 100px;
}
.pase19 .p{
    margin-top: 20px;
}
.pase19 p{
    margin-left: 120px;
    font-size: 20px;
    padding-top: 5px;
    color: blue;
}
