<!DOCTYPE html>
<html>
<head>
    <title>
        {% load static %}
    </title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
     <form>
        <h1>Vehicle Registration Form</h1>
         {% csrf_token %}
         {{ form.as_p }} 
         <!-- <button>Submit</button>
         <button>Clear Form</button> -->
         {% block content %}
         {% if user.is_authenticated %}
         
         <!-- <a href="{% url 'login' %}">Login</a> -->
         {% endif %}
         {% endblock %}
         

        
       <a href="page2.html" target="_blank"> <input type="button" value="login"></a>
       <h3> This is Login page</h3>
    </form>
    
</body>
</html>