<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/Package/logo-design.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


</head>
<body>

 {% include 'header.html' %}
    <div class="container">
        <div class="logo-designing1">
            <h4>Logo Design Packages</h4>
            <h1>Best Logo Design Packages In India For The Perfect Branding!</h1>
            <p class="p">Logo Design Packages in India from Creature</p>
            <p>offer top quality branding for your business.</p>
            <p>At Creature Technologies, we offer logo design </p>
            <p>packages in India to every sort of business whether</p>
            <p>its big, medium or small.We offer affordable and </p>
            <p>custom logo design packages that suit every </p>
            <p>requirement of our clients while being in their</p>
            <p>budget. Have a look at our logo design packages</p>
            <p>in India and choose the plan to give your</p>
            <p> business a unique identity.</p>

            <p class="p">If you are searching for low cost logo design</p>
            <p>plans then look no further than Creature Technologies</p>
            <p>for top quality logo design services at very</p>
            <p>cheap prices.Contact us Now!</p>

            <img src="{% static 'image/Logo_design/logo-design.png' %}" width="600" height="600">
            <form action="">
                <input type="submit" value="Request Proposal" class="button1">
            </form>
            <form action="">
                <input type="submit" value="Logo Designing Services" class="button2">
            </form>
        </div>

        <div class="logo-designing2">
            <h1>Best Logo Design Packages In India To Build Your Brand’s Identity</h1>
            <p class="p">A logo is a graphic mark, emblem or symbol that helps businesses to attain exclusive brand identification. In India, there’s no maximum</p>
            <p>limit up to which you can spend on a logo design for your business. It solely depends on the person, company or organization to which</p>
            <p>you have hired for your logo designing job.</p>


        </div>

        <div class="logo-designing3">
            <h1>Logo Design Packages</h1>
            <div class="box1">
                <div class="circle">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <h3>Basic</h3>
                <h4>2000 INR</h4>
                <p>Best For Startups</p>
                <input type="button" value="Read More">
            </div>
            <div class="box2">
                <div class="circle">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h3>Advanced</h3>
                <h4>4000 INR</h4>
                <p>Best For Small Business</p>
                <input type="button" value="Read More">
            </div>
            <div class="box3">
                <div class="circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Enterprise</h3>
                <h4>6000 INR</h4>
                <p>Best For Large Business</p>
                <input type="button" value="Read More">
            </div>
        </div>

        <div class="logo-designing4">
            <h1>Quick Results & Better ROI With Our Best In Class Google Ads Management Packages</h1>
            <p class="p">At Creature Technologies, we completely agree with the fact that</p>
            <p>no two businesses are alike. We understand that different</p>
            <p>businesses have different niches, different goals and yes, of</p>
            <p>course, different turnovers!</p>

            <p class="p">It is this reason because of which we have done the</p>
            <p>categorization of our logo design packages in India. We have</p>
            <p>three packages, namely, Basic, Professional and Ultimate. One of</p>
            <p>the three can be opted by you to commence the logo designing</p>
            <p>project at Rankon Technologies depending on your business</p>
            <p>requirements. Know how much does it cost to design a logo for</p>
            <p>your company from different providers.</p>
            <img src="{% static 'image/Logo_design/logo-design2.png' %}">
        </div>


        <div class="logo-designing5">
            <div class="box1">
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <h1>Would You Like To Discuss Your Project With Our Experts?</h1>
                <p>Send Your Project Details By Clicking On Get In Touch And One Of Our Team Members Will Call You Soon!</p>
            </div>
        </div>


        <div class="logo-designing6">
            <h1>Logo Design Packages In India</h1>
            <div class="box1">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>Logo Design Packages</p>
                </div>
                <h3>2000 INR/30 USD</h3>

                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Logo Design Idea – 1</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Revisions – 1</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Duration – 1 Working Day</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Format – JPG/PNG</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Source File(AI)</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Custom Graphic</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Text Logo</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Business Card</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Tag Line</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Payment Options – 100% Advance</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Logo Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Extra Design</span>
                <hr>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>

            <div class="box2">
                <div class="text1">
                    <h2>Professional</h2>
                    <p>Logo Design Packages</p>
                </div>
                <h3>4000 INR/60 USD</h3>

                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Logo Design Idea – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Revisions – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Duration – 2 – 4 Working Day </span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Format – JPG/PNG</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Source File(AI)</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Custom Graphic</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Text Logo</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Business Card</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Tag Line</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Payment Options – 50%- Advance & 50% After Completion</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Logo Analysis</span>
                <hr>

                <h4>Extra Design</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Responsive Facebook Cover & Profile Pic</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Responsive YouTube Cover & Profile Pic</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Instagram Profile Pic</span>
                <hr>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>

            <div class="box3">
                <div class="text1">
                    <h2>Advanced</h2>
                    <p>Logo Design Packages</p>
                </div>
                <h3>6000 INR/90 USD</h3>

                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Logo Design Idea – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Revisions – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Duration – 2 - 6 Working Day</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Design Format – JPG/PNG</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Logo Source File(AI)</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Custom Graphic</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Text Logo</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Business Card</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Tag Line</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Payment Options – 50%- Advance & 50% After Completion</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Logo Analysis</span>
                <hr>
                <h4>Extra Design</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Responsive Facebook Cover & Profile Pic</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Responsive YouTube Cover & Profile Pic,</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Letterhead,</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   LinkedIn Cover & Profile Pic</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Twitter Cover & Profile Cover</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Instagram Profile Pic</span>
                <hr>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>
            <h5>This is a standard logo design pricing and as per client’s requirements, prices may go up. All payments will be 100% advanced and no refund will be applicable.</h5>
        </div>

         <div class="logo-designing7">
            <h1>Logo Design Pricing Factors</h1>
            <p>At Creature Technologies, we have a simple yet competent logo design process to bring your vision to life. We strive to deliver effective</p>
            <p>logos while keeping our customers informed and updated about every part of it, from the start until they receive the product.</p>
            <p>In sue to be transparent and to avoid any future misunderstanding, we have cleared all the essentials of the entire logo design process</p>
            <p>in our logo design package. Some of the essential factors of our logo design packages in India are:-</p>
        </div>

        <div class="logo-designing8">
            <div class="box1">

                <h3>Custom Graphic</h3>
                <p class="p">To make the logos more striking and</p>
                <p>appealing we incorporate custom</p>
                <p>graphics into it that includes</p>
                <p>illustrators, icons, etc.</p>

            </div>
            <div class="box2">

                <h3>Logo Revisions</h3>
                <p class="p">After the completion of the job,</p>
                <p>Creature Technologies will send the</p>
                <p>final logo for approval. Based on the</p>
                <p>chosen logo design package, you can</p>
                <p>tell us the amendments you want to</p>
                <p>be done in that logo.</p>

            </div>
            <div class="box3">

                <h3>Tag Line</h3>
                <p class="p">The logo with a tagline is more</p>
                <p>appealing and stimulating. At Creature</p>
                <p>Technologies, we also create logos</p>
                <p>with an interesting tagline that suit</p>
                <p>our clients’ business goals.</p>

            </div>

            <div class="box1">

                <h3>Competitor Logo Analysis</h3>
                <p class="p">At Creature Technologies, we do</p>
                <p>proper research and analysis before</p>
                <p>commencing a logo design job.</p>
                <p>Based on our client’s chosen logo</p>
                <p>design plan, we first take a look at its</p>
                <p>competitor’s logos and then create</p>
                <p>something that’s best in his/her</p>
                <p>industry.</p>
            </div>
            <div class="box2">

                <h3>Logo Design Format</h3>
                <p class="p">At Creature Technologies, we deliver</p>
                <p>end logos in the standard JPG/PNG</p>
                <p>format so that our client does not</p>
                <p>find any difficulty in using it wherever</p>
                <p>he/she wants for the business</p>
                <p>purpose.</p>
            </div>
            <div class="box3">

                <h3>Logo Ideas</h3>
                <p class="p">Based on the chosen logo design</p>
                <p>package, you will be given a minimum</p>
                <p>of 2 to a maximum of 6 logo ideas</p>
                <p>from which you have to choose the</p>
                <p>one/two that suits best with your</p>
                <p>business. In case, you have your own</p>
                <p>idea, you’re free to share it with us. It</p>
                <p>will be highly appreciated.</p>
            </div>
        </div>

        <div class="logo-designing9">
            <h1>Why Choose Logo Design Packages From Creature Technologies In India</h1>

            <div class="box">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We offer a high-quality logo at cheap and affordable logo design packages</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We offer a custom logo package to fulfill every unique needs of a business</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We have fresh ideas, thoughtful design and deliver unmatched results.</p>
            </div>
            <div class="box1">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We never compromise with ordinary logo designs and strive to deliver the best of all time.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Our logo designers know how to bring out the best with a perfect combination of style, font, color, style and other elements that imparts your business philosophy and goals.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We have professional logo artists who are experts at logo designing.</p>

            </div>

            <p class="p2">If you are interested in Logo Designing Services for your company then trust Creature- A leading graphic design company in India  for</p>
            <p class="p2">top quality <span>logo design services</span> at low prices. Check our logo design pricing and contact us today to know more about our logo design</p>
            <p class="p2">packages in India NOW!</p>
         </div>


    </div>
{% include 'base.html' %}
</body>
</html>