<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Package/orm.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">



</head>
<body>
 {% include 'header.html' %}
    <div class="container1">
        <div class="orm1">
            <h4>ORM Packages</h4>
            <h1>Online Reputation Management Packages In India</h1>
            <p class="p">ORM Packages from Creature are very affordable and</p>
            <p>provide best outcomes. Online Reputation Management</p>
            <p>preserves the online availability of your business by</p>
            <p>improving and monitoring its appearance online. The</p>
            <p>objective of ORM service is to analyse how a potential</p>
            <p>customer or partner will determine your brand, your</p>
            <p>people or your product/service after performing a Google</p>
            <p>Search.</p>
            <p class="p">This process is done for enhancing the company or brand</p>
            <p>reputation in high traffic areas online and getting positive</p>
            <p>online reviews to put a positive impact on the company</p>
            <p>among Internet users. Continue reading to know more</p>
            <p>about ORM Plans in India.</p>
            <img src="{% static 'image/ORM/orm1.png' %}" width="500" height="500">
            <form action="">
                <input type="submit" value="Request Proposal" class="button1">
            </form>
            <form action="">
                <input type="submit" value="SEO Packages" class="button2">
            </form>
        </div>


        <div class="orm2">
                <h1>What Does An Online Reputation Management Company In India Do?</h1>
                <p class="p">The objective of the Online reputation management Company is basically to enhance the company’s reputation by making it eminent</p>
                <p>and presenting its best results forward. This is done by following the people who support their customers, employees and local</p>
                <p>communities.</p>


        </div>

        <div class="orm3">
            <h1>Our ORM Packages</h1>
            <div class="box1">
                <div class="circle">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <h3>Basic</h3>
                <h4>12,000 INR / 165 USD<span>Monthly</span></h4>
                <p>Best For Startups</p>
                <input type="button" value="Read More">
            </div>
            <div class="box2">
                <div class="circle">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h3>Advanced</h3>
                <h4>24,000 INR / 330 USD <span>Monthly</span></h4>
                <p>Best For Small Business</p>
                <input type="button" value="Read More">
            </div>
            <div class="box3">
                <div class="circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Enterprise</h3>
                <h4>35,000 INR / 480 USD <span>Monthly</span></h4>
                <p>Best For Large Business</p>
                <input type="button" value="Read More">
            </div>
        </div>

        <div class="orm4">
            <h1>Why Is Online Reputation Management Important?</h1>
            <p class="p">In today’s era, when there’s a huge competition among online</p>
            <p>businesses, no business owner can afford to get even a single</p>
            <p>comment against his/her reputation.</p>

            <p class="p"> Nowadays each and every review and feedback of the </p>
            <p>customers is crucial for the company’s reputation. In addition</p>
            <p>to this, it holds significant importance in determining the</p>
            <p>company’s status and well-being.</p>

            <p class="p">In order to maintain the good reputation of your online</p>
            <p>business, online reputation management is required. With an</p>
            <p>efficient and effective ORM, a business can build a positive </p>
            <p>image in front of the customers, thrive in the market and</p>
            <p>can acquire new customers.</p>

            <img src="{% static 'image/ORM/orm2.png' %}">

        </div>


        <div class="orm5">
            <h1>How Much Do ORM Packages Cost In India?</h1>

            <p class="p">Creature Technologies is one of the best online reputation management companies in India that provides cheap ORM packages in India</p>
            <p>that are suitable for all sorts of businesses and fits every budget. Our ORM Plans in India ranges between $110(Rs 8, 000)</p>
            <p>-$400(Rs28000) per month. Check our ORM packages in India below.</p>

        </div>

        <div class="orm6">
            <div class="box1">
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <h1>Would You Like To Discuss Your Project With Our Experts?</h1>
                <p>Send Your Project Details By Clicking On Get In Touch And One Of Our Team Members Will Call You Soon!</p>
            </div>
        </div>

        <div class="orm7">
            <h1>ORM Packages In India</h1>
            <div class="box1">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>ORM Packages</p>
                </div>
                <h3>12,000 INR/165 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>
                <h4>CONTENT MARKETING</h4>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Article Submission (500–700 words)-2 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Blog Submission</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Press Release Submission</span>
                <hr>

                <h4>LINK BUILDING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Local Citation* – 5 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Social Sharing- 25 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Local Classifieds* – 5 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   GMB Posting – 5 Per Month</span>
                <hr>

                <h>YOUTUBE (ALL THE VIDEOS WILL BE PROVIDED BY CLIENT)</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Video Upload</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Video Optimization</span>
                <hr>
                <h4>FACEBOOK</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Posting</span>
                <hr>
                <h4>LINKEDIN</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Tweet</span>
                <hr>
                <h4>SUPPORT</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Email</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Chat</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Monthly</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Weekly</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>

            <div class="box2">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>ORM Packages</p>
                </div>
                <h3>12,000 INR/165 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>
                <h4>CONTENT MARKETING</h4>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Article Submission (500–700 words)-4 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Blog Submission (500 – 700 words)- 1 Per Month                </span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Press Release Submission</span>
                <hr>

                <h4>LINK BUILDING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Local Citation* – 10 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Social Sharing- 40 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Local Classifieds* – 10 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   GMB Posting – 10 Per Month</span>
                <hr>

                <h>YOUTUBE (ALL THE VIDEOS WILL BE PROVIDED BY CLIENT)</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Video Upload - 2 Per month</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Video Optimization - 2 Per month</span>
                <hr>
                <h4>FACEBOOK</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Posting - 2 Per week</span>
                <hr>
                <h4>LINKEDIN</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Tweet</span>
                <hr>
                <h4>SUPPORT</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Email</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Chat</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Monthly</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Weekly</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>

            <div class="box3">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>ORM Packages</p>
                </div>
                <h3>12,000 INR/165 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>
                <h4>CONTENT MARKETING</h4>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Article Submission (500–700 words)-6 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Blog Submission (500 – 700 words)- 2 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Press Release Submission (300 – 500 words) – 2 Per Month</span>
                <hr>

                <h4>LINK BUILDING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Local Citation* – 15 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Social Sharing- 60 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Local Classifieds* – 15 Per Month</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    GMB Posting – 15 Per Month</span>
                <hr>

                <h>YOUTUBE (ALL THE VIDEOS WILL BE PROVIDED BY CLIENT)</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Video Upload – 4 Per Month</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Video Optimization – 4 Per Month</span>
                <hr>
                <h4>FACEBOOK</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Posting – 4 Per week</span>
                <hr>
                <h4>LINKEDIN</h4>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Tweet - 4 Tweet per week</span>
                <hr>
                <h4>SUPPORT</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Email</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Chat</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Monthly</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Weekly</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>




        </div>

        <div class="orm8">
            <h4>Plus 18% GST</h4>
            <h5>Note: Number of submissions depend on backlink resources availability.</h5>
            <p class="p">This is standard pricing and as per client’s requirements, prices may go up.</p>


        </div>



         <div class="orm9">
            <h1>How Long Will It Take To Fix A Damaged Corporate Online Reputation?</h1>
            <p class="p">Re-building the damaged reputation isn’t a one shot process, and it requires a significant amount of time to regain that positive and</p>
            <p>constructive image in front of potential customers. Along with this, there are competitors who are always ready to turn your bad image</p>
            <p>into the worst, because of which the reputation of business keeps on degrading each passing day. Thus, there’s no specific time period</p>
            <p>for fixing a damaged reputation and it merely depends upon condition and circumstances.</p>

            <p class="p">But, here at <span>Creature Technologies</span> , the best <span>ORM company in India</span> , our ORM experts follow a goal-oriented approach that leads us to</p>
            <p>deliver guaranteed results in a very short duration of time.</p>

         </div>

         <div class="orm10">
            <h1>FAQs About Our ORM Packages</h1>
            <details>
                <summary class="summary">What Is The Cost Of The ORM Package Per Month?</summary>
                <p class="p">The average monthly ORM cost for a project is 104$ (8,000 INR)/Month to 350$ (25000 INR)/Month.</p>
            </details>
            <hr>

            <details>
                <summary>How Long Does It Take To Fix The Damaged Reputation?</summary>
                <p class="p">The exact time can’t be anticipated to fix the damaged reputation. It solely depends on what we want to achieve, how authoritative the</p>
                <p>link is and the opted package by the client. For us it takes a minimum of 2 months and a maximum of 5 months to fix the reputation.</p>

            </details>
            <hr>

           <details>
                <summary>Do You Offer Custom ORM Packages?</summary>
                <p class="p">Yes we do, we consider every single requirement of our clients and then customize their package according to their needs.</p>
           </details>
           <hr>

           <details>
                <summary>Can I Change My ORM Package Later?</summary>
                <p class="p">Creature Technologies understands the fluctuating nature of businesses and thus provides the flexibility of changing the ORM package</p>
                <p>to its clients. With us, you have the ease to convert your package from one form to another.</p>

            </details>
            <hr>

           <details>
               <summary>Why Is Your Package Categorized?</summary>
               <p class="p">Package categorization helps us to deliver the results at a price that our client can afford. Gold, Silver and Bronze Packages enable our</p>
               <p>clients to achieve their needs according to their budget.</p>

          </details>
          <hr>

         </div>



    </div>

  {% include 'base.html' %}
</body>
</html>