<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/Package/ppc.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


</head>
<body>
 {% include 'header.html' %}
    <div class="container">
        <div class="ppc1">
            <h4>PPC Packages</h4>
            <h1>How Much Do Google Ads Management Packages Cost In India?</h1>
            <p class="p">Are you searching for PPC Packages in India? Creature</p>
            <p>Technologies offers affordable Google Ads Pricing</p>
            <p>Packages for small to large businesses in India. We </p>
            <p>help you make the best use of your Google advertising </p>
            <p>budget.We are one of trusted Google advertising </p>
            <p>agencies in India that helps businesses to spot their </p>
            <p>positions at the top of search results through our PPC </p>
            <p>Management Packages.</p>

            <p class="p">We offer three different PPC packages in India </p>
            <p>exclusively designed to help our clients achieve their </p>
            <p>Google ads marketing goals. Continue reading to know </p>
            <p>“How Much Do Google Ads Cost.”</p>

            <img src="{% static 'image/PPC/PPC-2.png' %}" width="700" height="700">
            <form action="">
                <input type="submit" value="Request Proposal" class="button1">
            </form>
            <form action="">
                <input type="submit" value="SEO Packages" class="button2">
            </form>
        </div>

        <div class="ppc2">
            <h1><span>PPC Packages</span> : Affordable Google Ads Management<span> Pricing Plans </span>For Small Business</h1>
            <p class="p">If you are new in the online market, you’ve to wait a lot to get your first lead from search engines. In case you want speedy results for your</p>
            <p>efforts, you have to go with PPC packages. But, Always trust PPC experts when it comes to PPC services. There are many so called PPC</p>
            <p>experts who will do it wrong and your money and efforts will be wasted. At RankON Technologies, we have Google ads certified professionals</p>
            <p>having more than 8 years of experience in managing PPC campaigns for international clients.</p>

        </div>

        <div class="ppc3">
            <h1>Our PPC Packages</h1>
            <div class="box1">
                <div class="circle">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <h3>Basic</h3>
                <h4>10,000 INR / <span>Monthly</span></h4>
                <p>Best For Startups</p>
                <input type="button" value="Read More">
            </div>
            <div class="box2">
                <div class="circle">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h3>Advanced</h3>
                <h4>18,000 INR / <span>Monthly</span></h4>
                <p>Best For Small Business</p>
                <input type="button" value="Read More">
            </div>
            <div class="box3">
                <div class="circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Enterprise</h3>
                <h4>39,000 INR / <span>Monthly</span></h4>
                <p>Best For Large Business</p>
                <input type="button" value="Read More">
            </div>
        </div>

        <div class="ppc4">
            <h1>Quick Results & Better ROI With Our Best In Class Google Ads Management Packages</h1>
            <p class="p">Pay Per Click Advertising is the best and quickest way to </p>
            <p>generate leads for your business. As image shows, when you</p>
            <p>start running ads on Google your ads start appearing in front of</p>
            <p>your buyers thus you have great chances to get leads.</p>

            <p class="p">To run ads on Google you need a website or landing page where</p>
            <p>visitors can land after clicking on your ads. PPC advertising costs</p>
            <p>a bit higher than other digital marketing methods but provides</p>
            <p>quick results. You will be charged for every single click you get on</p>
            <p>your ads in Google. Creature Technologies offers cheap yet</p>
            <p>effective PPC marketing packages for small to large-scale</p>
            <p>businesses. Our team of experts keeps monitoring the results</p>
            <p>your ads are getting and takes required actions during PPC ads</p>
            <p>optimization to increase ROI. When you partner with Creature</p>
            <p>Technologies for PPC services you get top quality PPC strategy</p>
            <p>to outrank your competitors.</p>
            <img src="{% static 'image/PPC/PPC4.png' %}">
        </div>


        <div class="ppc5">
            <div class="box1">
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <h1>Would You Like To Discuss Your Project With Our Experts?</h1>
                <p>Send Your Project Details By Clicking On Get In Touch And One Of Our Team Members Will Call You Soon!</p>
            </div>
        </div>


        <div class="ppc6">
            <h1>Why Should You Invest In PPC Packages?</h1>
            <p class="p1">Prior to knowing the Google Ads Pricing Models it is essential to know about its benefits of advertising on Google in India.</p>
            <div class="box1">
                <img src="{% static 'image/PPC/PPC1/budjet.png' %}">
                <h1>Budget Control</h1>
                <p class="p">There is absolutely no minimum investment required to</p>
                <p>create a Google Ads account or run a Google Ads</p>
                <p>campaign. When you start advertising on Google, You have</p>
                <p>full control over your budget as you can increase and</p>
                <p>decrease your ads spend according to your PPC budget.</p>

            </div>
            <div class="box2">
                <img src="{% static 'image/PPC/PPC1/scalability.png' %}">
                <h1>Scalability</h1>
                <p class="p">You can either scale up or scale down on the basis of the</p>
                <p>performance of your Google Ads Marketing campaign. You</p>
                <p>can scale ads, control the cost inflows and can maximize</p>
                <p>the results of your best performing ad campaigns.</p>

            </div>
            <div class="box1">
                <img src="{% static 'image/PPC/PPC1/analytic.png' %}">
                <h1>Analytics</h1>
                <p class="p">You can thoroughly analyse the success of your Google ads</p>
                <p>campaign with the help of analytic tools. You can also</p>
                <p>determine the number of clicks on your Google ads, about</p>
                <p>the users that clicked on your ads and much more.</p>


            </div>
            <div class="box2">
                <img src="{% static 'image/PPC/PPC1/intent.png' %}">
                <h1>Intent</h1>
                <p class="p">Audience with an Intent is likely to search on Google.</p>
                <p>Therefore, it provides a platform that gets you connected</p>
                <p>directly to the target audience through Google ads</p>
                <p>marketing in India.</p>


            </div>
        </div>


        <div class="ppc7">
            <h1>How Much Do Google Ads Cost In India?</h1>
            <img src="{% static 'image/PPC/PPC3.png' %}">
            <div class="text">
                <p class="p">Google Ads are known for giving instant results. You can get-up-</p>
                <p>and–running in less than an hour.  Also, if the ads are built with</p>
                <p>the right approach, you can start generating sales at the next moment.</p>
                <p class="p"><span>“Google Welcomes Over 246 Million Unique Visitors, 3.5 Billion</span> </p>
                <p><span>Daily Interactions, And An Estimated 700% ROI.”</span></p>

               <p class="p">While businesses spend an average of $9000 to $10,000 per</p>
               <p>month on paid advertising, there isn’t a one-size-fits-all answer</p>
               <p>to the common question of, “How much do Google Ads cost ?”</p>
               <p>That’s because Google Ads is a completely customizable </p>
               <p>advertising platform.</p>
            </div>
        </div>


        <div class="ppc8">

            <div class="box1">
                <img src="{% static 'image/PPC/PPC5/pricing.png' %}">
                <h1>Is There Any Certain Pricing For Google Ads?</h1>
                <p class="p">If your question is how much does Google Ads Cost for your</p>
                <p>business then, the answer is “No” as there is no certain or</p>
                <p>fixed Google Ads Pricing for business types. Google ads</p>
                <p>cost may vary from business to business.</p>

            </div>
            <div class="box2">
                <img src="{% static 'image/PPC/PPC5/google.jpg' %}">
                <h1>Google Ads Pricing: How Much Cost Per Click Do I Need To Pay?</h1>
                <p class="p">CPC is the amount you have to pay when any visitor clicks</p>
                <p>on your ad. Every keyword has a different CPC. As you are</p>
                <p>aware of the Google ads process so let’s discuss how much</p>
                <p>a click will cost you in Google ads.</p>

            </div>
            <div class="box1">
                <img src="{% static 'image/PPC/PPC5/keyword.png' %}">
                <h1>Keyword: The Key Factor That Affects The Google Ads Pricing</h1>
                <p class="p">In Google ads, Keywords decide how much price you need</p>
                <p>to pay for every click you get on your ads so you can say</p>
                <p>Keyword is the factor that affects the Google Ads Pricing.</p>


            </div>
            <div class="box2">
                <img src="{% static 'image/PPC/PPC5/average.png' %}">
                <h1>What Is The Average CPC In Google Ads?</h1>
                <p class="p">In Google ads, Keywords decide how much price you need</p>
                <p>to pay for every click you get on your ads so you can say</p>
                <p>Keyword is the factor that affects the Google Ads Pricing.</p>
                <p>For better information, Please check below given 2 images</p>
                <p>to know the cost per click for a web development and</p>
                <p>ecommerce business.</p>


            </div>
        </div>


        <div class="ppc9">
            <h1>How Much Should You Spend Daily On Google Ads?</h1>
            <p class="p">It’s always better to ask yourself how much budget you can afford. But here we would like to help you to understand how to know the</p>
            <p> estimated cost to advertise on Google.</p>

            <p class="p">As stated above that keywords affect the cost of a Google ads campaign so you can ask the company for the number of keywords you</p>
            <p>are going to select for your PPC campaign. You can check the CPC on those selected keywords and add the agency pricing they are</p>
            <p>going to charge to manage your PPC campaign.</p>
        </div>

        <div class="ppc10">
            <h1>PPC Packages</h1>
            <div class="box1">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>10,000 INR/140 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Campaign – 1</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   AD Groups – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copies – Maximum 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   No. of Keywords-50</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Search Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Display Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Gmail Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Video Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Shopping Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    App Promotion Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Remarketing List</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Conversion Tracking</span>
                <hr>
                <h4>PPC CAMPAIGN MANAGEMENT</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Competitor Analysis – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Keyword Optimization – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copy Optimization – Yes</span>
                <hr>
                <h4>VALUE ADDS</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    ROI Analysis</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Landing Page Optimization</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Reports – Monthly</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Dedicated Account Manager</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Support – Email, Chat</span>
                <hr>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>

            <div class="box2">
                <div class="text1">
                    <h2>Advanced</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>18,000 INR/250 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Campaign – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   AD Groups – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copies – Maximum 15</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   No. of Keywords-100</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Search Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Display Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Gmail Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Shopping Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    App Promotion Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Remarketing List</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Conversion Tracking</span>
                <hr>
                <h4>PPC CAMPAIGN MANAGEMENT</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Competitor Analysis – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Keyword Optimization – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copy Optimization – Yes</span>
                <hr>
                <h4>VALUE ADDS</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    ROI Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Landing Page Optimization</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Reports – Monthly</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Dedicated Account Manager</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Support – Email, Chat</span>
                <hr>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>

            <div class="box3">
                <div class="text1">
                    <h2>Enterprise</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>10,000 INR/415 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span class="span"><i class="fa fa-check-circle" aria-hidden="true"></i>   Campaign – 5</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   AD Groups – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copies – Maximum 50</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   No. of Keywords-150</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Search Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Display Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Gmail Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Shopping Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    App Promotion Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Remarketing List</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Conversion Tracking</span>
                <hr>
                <h4>PPC CAMPAIGN MANAGEMENT</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Competitor Analysis – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Keyword Optimization – Yes</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ad Copy Optimization – Yes</span>
                <hr>
                <h4>VALUE ADDS</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    ROI Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Landing Page Optimization</span>
                <hr>
                <h4>REPORTING</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Reports – Monthly</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Dedicated Account Manager</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Support – Email, Chat</span>
                <hr>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>
            </div>
            <h5>Note: These are standard PPC Packages and as per client’s requirements, pricing may go up. Our Packages don’t include any Google Ads Spend Amount.</h5>
        </div>

        <div class="ppc11">
            <h1>Why Our PPC Packages Are Affordable?</h1>
            <p class="p">Our Google Ads Marketing Pricing categorization helps us to</p>
            <p>deliver the results which our customers expect from PPC</p>
            <p>Services.</p>

            <p class="p">Our Google Ads Pricing Packages include 3 PPC Packages in </p>
            <p>India. Our PPC Packages enable our clients to achieve their</p>
            <p>Google ads marketing goals while being in full control of</p>
            <p>advertising cost. Read more to find out how our PPC packages</p>
            <p>will help you to create a better PPC marketing strategy in a very</p>
            <p>pocket friendly way.</p>
            <img src="{% static 'image/PPC/PPC7.jpg' %}">
        </div>


        <div class="ppc12">
            <h1>What Is Included In Our PPC Packages?</h1>
            <p class="p">Be noticed with our PPC Ads Marketing Services in India. Creature Technologies offers customized PPC Packages in India to every sort</p>
            <p>of business. We have a result oriented approach for your specific business type. Our PPC Packages include:-</p>

            <div class="slider owl-carousel ">
                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/smart-advertising.png' %}"></div>
                    <div class="content">
                        <h2>Smart Advertising</h2>
                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/app-promotion.jpg' %}"></div>
                    <div class="content">
                        <h2>App Promotion</h2>

                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/video-ads.jpg' %}"></div>
                    <div class="content">
                        <h2>Video Ads</h2>

                    </div>
                </div>


                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/paid-search-advertising.jpg' %}"></div>
                    <div class="content">
                        <h2>Paid Search Advertising</h2>


                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/shopping-ppc.png' %}"></div>
                    <div class="content">
                        <h2>Shopping Campaigns</h2>

                    </div>
                </div>

                <div class="card">
                    <div class="img"><img src="{% static 'image/PPC/PPC6/display-ppc.jpg' %}"></div>
                    <div class="content">
                        <h2>Display Advertising</h2>

                    </div>
                </div>

            </div>

            <script>
                $(".slider").owlCarousel({
                    loop: true,
                    autoplay: true,
                    autoplayTimeout:1000,
                    autoplayHoverPause:true,
                });
            </script>
        </div>

        <div class="ppc13">
            <h1>Our Google Ads Management Strategy Includes:</h1>
            <div class="box">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    A complete examination of the site.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Keyword research is performed.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    PPC campaign is arranged to obtain a good quality</p>
                <p class="p1">score.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation of creative ad-copy for every ad group with</p>
                <p class="p1">the objective of attaining CTR.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Search And Display Ads Implementation</p>


              </div>
              <div class="box1">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Implementation of extensions to add functionalities.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Bid Management.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Filtration of negative keywords and weekly search</p>
                <p class="p1">queries.</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation of monthly progress reports.</p>
              </div>

         </div>

         <div class="ppc14">
            <h1>Interested In Learning More About Our Google Ads Management Packages?</h1>
            <p>Contact Creature Technologies to create a successful PPC Ads Marketing Plan for your business and enjoy more sales, leads and</p>
            <p>conversions instantly. Contact us today to know more about our PPC Packages in India.</p>
         </div>

        <div class="ppc15">
              <h1>Frequently Asked Questions About PPC Management Packages</h1>
              <details>
                 <summary>How Much Do Google Ads Cost?</summary>
                 <p class="p">Your Google Ads costs solely depend on your budget settings. Google Ads can work with almost any budget. You’re only charged</p>
                 <p>when users click on your ad to visit your website or to call your business. With Google Ads, there is no minimum or maximum cost that</p>
                 <p>needs to be spent, moreover,there’s no minimum or maximum contract length – you can start or end your ad anytime.</p>
              </details>
              <hr>

              <details>
                  <summary>Is Your Management Cost Different From The Budget To Run Google Ads?</summary>
                  <p class="p">Yes, the management cost of Creature Technologies is different from the budget that you will fix to run Google Ads.</p>
              </details>
              <hr>

              <details>
                <summary>What Is CPC/PPC?</summary>
                <p class="p">CPC (Cost Per Click) or PPC (Pay Per Click) means you only have to pay for your ad when someone will click on it.</p>
                <h2>Other advertising types include:</h2>
                <p class="">Cost Per Impression: Ad cost is based on how many times your ad was shown</p>
                <p>Cost Per Engagement: Ad cost depends on when the user completes a predefined engagement (like watching your video ad).</p>
            </details>
            <hr>

            <details>
                <summary>What Are Google AdWords And Google AdWords Express?</summary>
                <p class="p">Google AdWords and Google AdWords Express are the formerly used names of Google Ads.</p>
            </details>
            <hr>

            <details>
                <summary>What Are The Different Types Of Google Ads?</summary>
                <p class="p">There are mainly  three basic types of Google Ads:</p>
                <h2>Search Network campaigns –</h2>
                <p class="p">These ads generally run in text format and are shown on SERPs when someone searches for a</p>
                <p>product or service that’s similar to yours</p>
                <h2>Display Network campaigns –</h2>
                <p class="p">These ads generally run in image format and appear on websites or apps that your customers</p>
                <p>usually visit.</p>
                <h2>Video campaigns –</h2>
                <p class="p">These ads are usually of 6 to 15 seconds and are shown right before or during the youtube video.</p>
            </details>
            <hr>

        </div>
    </div>
{% include 'base.html' %}
</body>
</html>