<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/Package/smm.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">



</head>
<body>
 {% include 'header.html' %}
    <div class="container1">
        <div class="smm1">
            <h4>Social Media Marketing Packages</h4>
            <h1>Affordable Yet Effective Social Media Management Plans</h1>
            <p class="p">Are you searching for social media marketing packages in</p>
            <p>India? Creature Technologies offers low-cost SMM</p>
            <p>Packages for businesses in India.</p>
            <p class="p">Social Media Marketing is one of the most popular</p>
            <p>methods of marketing and branding today. It needs</p>
            <p>immense planning, perfect execution, and constant</p>
            <p>monitoring to get outcomes on all social media platforms.</p>
            <p>And we at ‘Creature Technologies’ have all the experience</p>
            <p>to deliver a great blend of exactly the same when you</p>
            <p>demand our high-quality social media marketing services</p>
            <p>in India. Must check our social media management packages</p>
            <p>in India NOW!</p>


            <img src="{% static 'image/SMM/Marketing-bro.png' %}" width="500" height="500">
            <form action="">
                <input type="submit" value="Request Proposal" class="button1">
            </form>
            <form action="">
                <input type="submit" value="SEO Packages" class="button2">
            </form>
        </div>


        <div class="smm2">
                <h1>Why Should You Use <span>Social Media Marketing</span> Packages For Your Business?</h1>
                <p class="p">Social media marketing is the process of gaining website traffic through social media sites. Great marketing on social media can bring</p>
                <p>remarkable success to your business by driving a huge number of leads and sales. It involves creating social media content on social media</p>
                <p>networks in order to attain marketing and branding goals.</p>


        </div>

        <div class="smm3">
            <h1>Affordable Social Media Marketing Packages</h1>
            <div class="box1">
                <div class="circle">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <h3>Basic</h3>
                <h4>18,000 INR / <span>Monthly</span></h4>
                <p>Best For Startups</p>
                <input type="button" value="Read More">
            </div>
            <div class="box2">
                <div class="circle">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h3>Advanced</h3>
                <h4>35,000 INR / <span>Monthly</span></h4>
                <p>Best For Small Business</p>
                <input type="button" value="Read More">
            </div>
            <div class="box3">
                <div class="circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Enterprise</h3>
                <h4>65,000 INR / <span>Monthly</span></h4>
                <p>Best For Large Business</p>
                <input type="button" value="Read More">
            </div>
        </div>

        <div class="smm4">
            <h1>Our Social Media Marketing & Management Plans Include</h1>
            <p>Our social media marketing services in India are broad enough to grasp the traffic from all the social media platforms:-</p>
            <div class="box1">
                <img src="{% static 'image/SMM/SMM2/Pinterest-Marketing.jpg' %}" width="300" height="200">
                <h3>Pinterest Marketing</h3>
                <p class="p">Experience the power of pins and</p>
                <p>pinboards to help your business get</p>
                <p>the most out of your Pinterest</p>
                <p>Marketing in India.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMM/SMM2/YouTube-Marketing.jpg' %}" width="300" height="200">
                <h3>YouTube Marketing</h3>
                <p class="p">Creature Technologies offers you an</p>
                <p>absolute edge to get the best results</p>
                <p>with its YouTube Marketing Services</p>
                <p>in India. Check our YouTube</p>
                <p>Marketing Packages.</p>


            </div>
            <div class="box3">
                <img src="{% static 'image/SMM/SMM2/Facebook-Marketing.jpg' %}" width="300" height="200">
                <h3>Facebook Marketing</h3>
                <p class="p">At Creature Technologies, we help you</p>
                <p>direct the vast Facebook traffic to</p>
                <p>your website, communicate with your</p>
                <p>audience and market yourself on the</p>
                <p>platform for the best outcomes. For</p>
                <p>more details please check our</p>
                <p>Facebook marketing packages or</p>
                <p>click to know more about</p>
                <p>our Facebook Marketing Services in</p>
                <p>India. Check our Facebook Marketing</p>
                <p>Packages.</p>
            </div>

            <div class="box1">
                <img src="{% static 'image/SMM/SMM2/LinkedIn-Marketing.jpg' %}" width="300" height="200">
                <h3>LinkedIn Marketing</h3>
                <p class="p">LinkedIn is one of the emerging</p>
                <p>platforms to get high-quality traffic</p>
                <p>directed back to your website</p>
                <p>through world-class social media</p>
                <p>optimization services.</p>
                <p>We help you get the best out of</p>
                <p>your LinkedIn Marketing  Campaigns</p>
                <p>with experienced LinkedIn marketers</p>
                <p>in India. Check our LinkedIn</p>
                <p>marketing packages.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMM/SMM2/Instagram-Marketing-1.jpg' %}" width="300" height="190">
                <h3>Instagram Marketing</h3>
                <p class="p">Leverage the power of one of the</p>
                <p>most amazing and growing social</p>
                <p>media platforms “Instagram” to</p>
                <p>foster your brand and identity</p>
                <p>through quality Instagram marketing</p>
                <p>services in India. Check how we help</p>
                <p>you to get the best results from</p>
                <p>our Instagram marketing packages.</p>
            </div>
            <div class="box3">
                <img src="{% static 'image/SMM/SMM2/Twitter-Marketing-1.jpg' %}" width="300" height="200">
                <h3>Twitter Marketing</h3>
                <p class="p">Creature Technologies has a world-</p>
                <p>class twitter marketing handling</p>
                <p>experience that enables you to</p>
                <p>leverage the immense power of this</p>
                <p>superb social media platform to</p>
                <p>benefit your business. Contact the</p>
                <p>experts to deliver the best. Check</p>
                <p>our Twitter marketing packages.</p>
            </div>

        </div>

        <div class="smm5">
            <div class="box1">
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <h1>Would You Like To Discuss Your Project With Our Experts?</h1>
                <p>Send Your Project Details By Clicking On Get In Touch And One Of Our Team Members Will Call You Soon!</p>
            </div>
        </div>


        <div class="smm6">
            <h1>How Much Do Social Media Marketing Packages Cost?</h1>

            <p class="p">“Creature Technologies, India” is a remarkable digital marketing agency that offers superlative social media marketing services for</p>
            <p>individuals, businesses, brands, and organizations as per their requirements. The average monthly cost for a project is $200(INR</p>
            <p>14,000)- $500(INR 36,000) in India.</p>
            <h1>Choose The Best Social Media Marketing Pricing Plans For Your Business Needs!</h1>
            <p class="p">The divisions in SMM Packages of  Creature Technologies are designed in such a way that it provides maximum ROI for online marketing</p>
            <p>needs at the most affordable SMM prices.</p>
        </div>

        <div class="smm7">
            <h3>Let Us Find How Much These Social Media Marketing Plans Cost:-</h3>
            <h1>Social Media Marketing Pricing Packages In India</h1>
            <p class="p">With Creature, you don’t have to worry about the return of your investment in SMM Services. We give our best to improve your social</p>
            <p>media presence with our services. Check out the detailed packages below to improve your social media presence.</p>
        </div>


        <div class="smm8">
            <h1>Monthly Social Media Marketing Pricing Plans</h1>
            <div class="box1">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>SMM Packages</p>
                </div>
                <h3>18,000 INR/250 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ads Spend – Rs.10,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Our Management Fee – Rs. 8,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Account Management – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Campaign – 1</span>
                <hr>
                <h4>Facebook Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Business Manager Set Up</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Pixel Installation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Custom Conversion Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Remarketing</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Custom Audience Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Creation Of Automated Rules</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Analytics Report Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ad Campaign Monitoring</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Catalogue Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Dynamic Ads Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Instant Experience Ads Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Customization Of Ad Placements</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    A/B Testing Of Ad Set, Creative & Placement</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Carousel And Collection Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Traffic Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Monthly Report</span>
                <hr>
                <h4>Instagram Marketing</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Audience Research</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Instagram Ads Creative Creation & Design</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Instagram Ads Monitoring And Management</span>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>

            <div class="box2">
                <div class="text1">
                    <h2>Professional</h2>
                    <p>SMM Packages</p>
                </div>
                <h3>35,000 INR/500 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ads Spend – Rs.20,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Our Management Fee – Rs. 15,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Account Management – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Campaign – 3</span>
                <hr>
                <h4>Facebook Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Business Manager Set Up</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Pixel Installation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Custom Conversion Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Remarketing</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Custom Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation Of Automated Rules</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Analytics Report Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ad Campaign Monitoring</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Catalogue Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Dynamic Ads Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instant Experience Ads Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Customization Of Ad Placements</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    A/B Testing Of Ad Set, Creative & Placement</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Carousel And Collection Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Traffic Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Monthly Report</span>
                <hr>
                <h4>Instagram Marketing</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Audience Research</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Instagram Ads Creative Creation & Design</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Instagram Ads Monitoring And Management</span>
                <hr>

                <h4>LinkedIn Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Campaign Manager Account Set Up</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   LinkedIn Insight Tag Installation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Custom Conversion</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ads Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Report</span>
                <hr>
                <h4>Youtube Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Youtube Ad Account Set Up</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Skippable In-Stream Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Non-Skippable In-Stream Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Bumper Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Discovery Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Video Sequence Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Detailed Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Custom Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    A/B Testing Of Targeting</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Remarketing Video Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Ads With Promotion Of Your Products</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Monthly Report</span>
                <hr>
                <h4>Twitter Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Tweet Engagement Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Video Or GIF View Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Awareness Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Website Conversion Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    In-stream Video View Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Follower Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   App Install Ads</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   App Reengagement</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Report</span>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>

            <div class="box3">
                <div class="text1">
                    <h2>Advanced</h2>
                    <p>SMM Packages</p>
                </div>
                <h3>65,000 INR/900 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ads Spend – Rs.40,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Our Management Fee – Rs. 25,000</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Account Management – 5</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Campaign – 6</span>
                <hr>
                <h4>Facebook Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Business Manager Set Up</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Pixel Installation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Custom Conversion Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Remarketing</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Custom Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation Of Automated Rules</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Analytics Report Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Ad Campaign Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Catalogue Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Dynamic Ads Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instant Experience Ads Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Customization Of Ad Placements</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    A/B Testing Of Ad Set, Creative & Placement</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Carousel And Collection Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Traffic Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Monthly Report</span>
                <hr>
                <h4>Instagram Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Audience Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instagram Ads Creative Creation & Design</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Instagram Ads Monitoring And Management</span>
                <hr>

                <h4>LinkedIn Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Campaign Manager Account Set Up</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   LinkedIn Insight Tag Installation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Custom Conversion</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Ads Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Report</span>
                <hr>
                <h4>Youtube Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Youtube Ad Account Set Up</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Skippable In-Stream Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Non-Skippable In-Stream Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Bumper Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Discovery Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Youtube Video Sequence Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Detailed Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Custom Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    A/B Testing Of Targeting</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Remarketing Video Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Video Ads With Promotion Of Your Products</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Monthly Report</span>
                <hr>
                <h4>Twitter Marketing</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Tweet Engagement Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Or GIF View Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Awareness Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Website Conversion Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    In-stream Video View Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Follower Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   App Install Ads</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   App Reengagement</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Audience Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Report</span>

                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>


        </div>

        <div class="smm9">
            <h4>Plus 18% GST</h4>
            <h5>Note: This is standard social media marketing pricing and as per the client’s requirements, prices may go up.</h5>
            <p class="p">Social Media Advertising costs are different everywhere, so it is important to understand which social media marketing company is </p>
            <p>making a fair deal and which is a trickster.</p>

            <p class="p">For better knowledge go through the testimonials of the company to know the feedback of its previous clients. Visit every page of the</p>
            <p>company’s website thoroughly. It should not contain any hidden fees.</p>

            <p class="p">If the social media marketing company doesn’t offer the perfect social media marketing strategy you want to cover, it could be lagging</p>
            <p>in terms of service offerings. Every social media marketing company should have SMM Packages available for you which provides the </p>
            <p>details of how they work and what they provide. If the company is not having a pricing page then it is a better option to search for </p>
            <p>another <span>Social Media Marketing</span> Company.</p>
        </div>

        <div class="smm10">
            <h1>Reasons To Hire A Social Media Marketing Company In India</h1>
            <div class="box1">
                <img src="{% static 'image/SMM/SMM3/Get-Professional-Expertise.png' %}">
                <h2>Get Professional Expertise</h2>
                <p>By hiring an experienced and skilled social media</p>
                <p>management service provider your company is able to</p>
                <p>confront the market. Along with this, you get specialized</p>
                <p>designing, copywriting and development teams that fulfil</p>
                <p>every requirement of Your Business.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMM/SMM3/Access-High-tech-Marketing-Software.png' %}">
                <h2>Access High-Tech Marketing Software</h2>
                <p>Through Social Media Marketing Agency you have a fair</p>
                <p>chance to empower your business with highly automated</p>
                <p>social media marketing soft wares. For small- scaled</p>
                <p>industries, it’s a significant investment that can completely</p>
                <p>shake its budget.</p>
            </div>
            <div class="box1">
                <img src="{% static 'image/SMM/SMM3/Improve-Time-Management.png' %}">
                <h2>Improve Time Management</h2>
                <p>Without a social media marketing agency, you might not be</p>
                <p>able to optimize any of the social media platforms or you</p>
                <p>be able to optimize only one or two social media platforms.</p>
                <p>By hiring a social media marketing agency you can have all</p>
                <p>your social media profiles active and maintained.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMM/SMM3/Increase-Social-Media.png' %}">
                <h2>Increase Social Media Marketing ROI</h2>
                <p>Through our Social Media Marketing Packages in India, you</p>
                <p>are able to get a significant return on your investment. This</p>
                <p>would let you get back the invested amount in a shorter</p>
                <p>duration.</p>
            </div>
        </div>

        <div class="smm11">
            <h1>Why Choose Us For Best Social Media Marketing Services In India?</h1>
            <div class="box">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Establish Social Media Pages</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Higher Social Media Engagement</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Perfect Social Media Marketing Strategy</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    High-Quality Content Creation for Social Media</p>
                <p class="p1">Channels.</p>
              </div>
              <div class="box1">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Social Media Campaign Monitoring & Reporting</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Increased Social Media Trust & Following</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Complete Brand Visibility & Authority</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Increased Earning from Social Media</p>
              </div>

              <p class="p2">Are you an influencer on social media? Know how to <span>make money from Instagram</span></p>

         </div>

         <div class="smm12">
            <h1>Join Us And Reach Heights With Our Affordable Social Media Marketing Pricing Plans NOW!</h1>
            <p class="p">Experience significant growth in your business with our expert <span>Social Media Marketing Services in India</span>. Contact Creature Technologies-</p>
            <p>A Trusted Social Media Marketing Company today to attain great customer support through our social media marketing services.</p>
         </div>

    </div>
   {% include 'base.html' %}
</body>
</html>