<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creature</title>

  {% load static %}
    <link rel="stylesheet" href="{% static 'css/Package/smo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">



</head>
<body>
  {% include 'header.html' %}
    <div class="container1">
        <div class="smo1">
            <h4>SMO Packages</h4>
            <h1>Monthly SMO Packages For Better Social Media Trust</h1>
            <p class="p">Are you searching for SMO packages in India?</p>
            <p>Creature Technologies offers cheap social media </p>
            <p>optimization packages in India. Social Media </p>
            <p>Optimization is a significant way for increasing </p>
            <p>awareness of new products and services across </p>
            <p>various social media platforms.</p>


            <p class="p">Basically, it is a fool-proof plan that helps </p>
            <p>businesses to get connected to their </p>
            <p>target audience.</p>
            <img src="{% static 'image/SMO/smo1.png' %}">
            <form action="">
                <input type="submit" value="Request Proposal" class="button1">
            </form>
            <form action="">
                <input type="submit" value="SEO Packages" class="button2">
            </form>



        </div>
        <div class="smo2">
            <h1>What Is Social Media & Why You Should Use It?</h1>

            <p class="p">Social media is the most effective tool to build an online</p>
            <p>community and brand trust among your buyers. Billions of </p>
            <p>people use social media channels nowadays and this is why you</p>
            <p>should also use social media management services to help your</p>
            <p>brand build a better online reputation and social trust. Our</p>
            <p>SMO packages cover everything you need to manage and build </p>
            <p>better online brand reputation and social trust.</p>

            <p class="p">Here at Creature Technologies, we believe in offering cheap yet</p>
            <p> best in quality social media management packages to our</p>
            <p>clients. This is why we have three different monthly SMO </p>
            <p>packages to help our clients to increase their brand’s social</p>
            <p>trust.</p>

            <img src="{% static 'image/SMO/smo2.png' %}" height="500" width="500">


        </div>
        <div class="smo3">
            <h1>Why Invest In Social Media Optimization Packages?</h1>

            <p class="p">By investing in SMO packages, you will be nurturing and enriching connections between you and your customers. It is one of the ways</p>
            <p>of building better brand awareness, fostering relationships and promoting conversions with customers. We have three different social</p>
            <p>media optimization pricing and our SMO packages cost from 8K INR to 25K INR per month. Check our Social Media Optimization Pricing</p>
            <p>Plans Below!</p>

        </div>

        <div class="smo4">
            <h1>Our SEO Packages</h1>
            <div class="box1">
                <div class="circle">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <h3>Basic</h3>
                <h4>15,000 INR / <span>Monthly</span></h4>
                <p>Best For Startups</p>
                <input type="button" value="Read More">
            </div>
            <div class="box2">
                <div class="circle">
                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h3>Advanced</h3>
                <h4>22,000 INR / <span>Monthly</span></h4>
                <p>Best For Small Business</p>
                <input type="button" value="Read More">
            </div>
            <div class="box3">
                <div class="circle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Enterprise</h3>
                <h4>40,000 INR / <span>Monthly</span></h4>
                <p>Best For Large Business</p>
                <input type="button" value="Read More">
            </div>
        </div>

        <div class="smo5">
            <p class="p">People these days check different online media platforms to buy from brands and this is where our social media management</p>
            <p>packages help your business to build a positive brand reputation online. Working as an SMO Company in India for the past 8 years, we</p>
            <p>know how to deploy our SMO services to garner maximum visibility and increase traffic on our clients’ websites. With our Social Media</p>
            <p>Optimization Services in India, you get creative social media posting ideas to grow and engage your audience.</p>

        </div>


        <div class="smo6">
            <h1>Benefits Of SMO Packages</h1>
            <p class="p1">There are many benefits of using social media management packages for your small or large scale businesses. Check below mentioned</p>
            <p>SMO packages benefits and select one from our below given SMO packages to fulfil your needs.</p>
            <div class="box1">
                <img src="{% static 'image/SMO/SMO3/brand-awareness.png' %}" width="200" height="200">
                <h3>Brand Awareness</h3>
                <p class="p">SMO Packages help you to manage and</p>
                <p>engage your social media profiles and</p>
                <p>followers. It also helps your brand to</p>
                <p>reach more people when they like,</p>
                <p>comment and share on your social</p>
                <p>media posts.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMO/SMO3/professional-management.png' %}" width="200" height="200">
                <h3>Professional Management</h3>
                <p class="p">SMO packages from any professional</p>
                <p>SMO company help you to manage</p>
                <p>your social channels professionally. You</p>
                <p>get professional work when you start</p>
                <p>using a professional SMO company.</p>

            </div>
            <div class="box3">
                <img src="{% static 'image/SMO/SMO3/build-social-media-trust.png' %}" width="200" height="200">
                <h3>Build Social Media Trust</h3>
                <p class="p">SMO packages help you to manage and</p>
                <p>communicate with your buyers, and</p>
                <p>when your social media profiles look</p>
                <p>active then people feel safe buying</p>
                <p>from you. This is how SMO packages</p>
                <p>build better social trust.</p>
            </div>

            <div class="box1">
                <img src="{% static 'image/SMO/SMO3/cost-effective.png' %}" width="200" height="200">
                <h3>Cost-Effective</h3>
                <p class="p">If you are a small business, and you</p>
                <p>can’t afford a team in-house to manage</p>
                <p>your social profiles professionally, then</p>
                <p>SMO packages help you to manage</p>
                <p>your social channels according to your</p>
                <p>budget.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMO/SMO3/more-followers.png' %}" width="200" height="190">
                <h3>More Followers</h3>
                <p class="p">A professional SMO packages can help</p>
                <p>you to increase followers on your social</p>
                <p>media profiles quickly by sharing</p>
                <p>professional content and applying the</p>
                <p>perfect social media management</p>
                <p> for your business.</p>
            </div>
            <div class="box3">
                <img src="{% static 'image/SMO/SMO3/maintain-the-fan-following.png' %}" width="200" height="200">
                <h3>Maintain The Fan Following</h3>
                <p class="p">When you start getting followers on</p>
                <p>your social media profiles then you also</p>
                <p>care about their choice and likes. This is</p>
                <p>where SMO packages can help you to</p>
                <p>maintain the fan following of your social</p>
                <p>pages.</p>
            </div>

        </div>

        <div class="smo7">
            <h1>How Do Our SMO Packages Help You?</h1>
            <div class="box1">
                <img src="{% static 'image/SMO/SMO4/cost-effective2.png' %}" width="200" height="200">
                <h3>Cost-Effective</h3>
                <p class="p">Our SMO Packages are cheap yet</p>
                <p>effective so you get what you need in a</p>
                <p>cost-effective manner.</p>
            </div>
            <div class="box2">
                <img src="{% static 'image/SMO/SMO4/professional-team.png' %}" width="200" height="200">
                <h3>Professional Team</h3>
                <p class="p">We have expert social media</p>
                <p>professionals who understand how to</p>
                <p>follow the social algorithms and grow</p>
                <p>any profile genuinely.</p>


            </div>
            <div class="box3">
                <img src="{% static 'image/SMO/SMO4/appealing-graphics.png' %}" width="200" height="200">
                <h3>Appealing Graphics</h3>
                <p class="p">We only post high-quality graphics and</p>
                <p>content as per your industry guidelines</p>
                <p>and related only on your social media</p>
                <p>profiles for better user .</p>

            </div>

        </div>


        <div class="smo8">
            <h1>Come Have A Look At Our Affordable SMO Packages</h1>
            <p class="p">Creature Technologies offers you customized SMO packages at fair prices. We closely observe specific requirements of every business</p>
            <p>and then offer them our custom SMO packages depending on their needs.</p>


        </div>

        <div class="smo9">
            <h1>Our Monthly SMO Packages</h1>
            <div class="box1">
                <div class="text1">
                    <h2>Basic</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>15,000 INR/210 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Setting Goals</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Account Management – 2 (FB & IG)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Hashtag Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Content  Creation</span>
                <hr>

                <h4>Facebook Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Cover And Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Story Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Post Sharing In Groups</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Video Posting(Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Tabs Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call To Action Button Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Influencer Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Facebook Polls/ Quizs</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Competitor Analysis</span>
                <hr>
                <h4>Instagram Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Posting Per Week – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Engagement Strategy</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instagram Stories Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding to comment</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Link With Facebook Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    IGTV Upload( Video provided by Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Outreach With Influencers</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Image Tagging</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Instagram Analytics Monitoring</span>
                <hr>
                <h4>LinkedIn Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Company Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Posting (Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>  Posting Per Week – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Showcase Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Invite Connection To Like Your Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Relevant Group Joining</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Sharing In Groups</span>
                <hr>

                <h4>Youtube Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Channel Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Channel Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Video Optimization(Video Provided By Client) – 1</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Thumbnail Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Keyword Research</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Status Posting*</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Comment Moderation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    End Screen Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Information Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Tags Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Playlist Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Creation
                </span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Analytics Monitoring</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Backlinks</span>
                <hr>
                <h4>Twitter Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile & Background Picture Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Tweet Per Week – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Retweets</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    List Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Active In Trending Hashtag</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation Of Poll</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Following Industry Related People</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Moments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Twitter Analytics Monitoring</span>
                <hr>
                <h4>Pinterest Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Board Creation – 2</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Content Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Business Account Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Visitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Follow Relevant Account And Boards</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Inviting Relevant Pinners On Board</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>

            <div class="box2">
                <div class="text1">
                    <h2>Advanced</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>22,000 INR/305 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Setting Goals</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Account Management - 3</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Hashtag Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Content  Creation</span>
                <hr>

                <h4>Facebook Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Cover And Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Story Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Post Sharing In Groups</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Video Posting(Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Tabs Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call To Action Button Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Influencer Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Facebook Polls/ Quizs</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Competitor Analysis</span>
                <hr>
                <h4>Instagram Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Posting Per Week – 6(Linked Posts)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Engagement Strategy</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instagram Stories Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding to comment</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Link With Facebook Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    IGTV Upload( Video provided by Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Outreach With Influencers</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Image Tagging</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Instagram Analytics Monitoring</span>
                <hr>
                <h4>LinkedIn Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Company Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Posting (Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>  Posting Per Week – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Showcase Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Invite Connection To Like Your Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Relevant Group Joining</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Sharing In Groups</span>
                <hr>

                <h4>Youtube Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Channel Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Channel Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Video Optimization(Video Provided By Client) – 3</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Thumbnail Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Keyword Research</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Status Posting*</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Comment Moderation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    End Screen Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Information Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Tags Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Playlist Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Creation
                </span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Analytics Monitoring</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Backlinks</span>
                <hr>
                <h4>Twitter Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile & Background Picture Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Tweet Per Week – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Retweets</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    List Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Active In Trending Hashtag</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation Of Poll</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Following Industry Related People</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Moments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Twitter Analytics Monitoring</span>
                <hr>
                <h4>Pinterest Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Board Creation – 4</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Content Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Business Account Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Visitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Follow Relevant Account And Boards</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Inviting Relevant Pinners On Board</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>


            <div class="box3">
                <div class="text1">
                    <h2>Enterprise</h2>
                    <p>SEO Packages</p>
                </div>
                <h3>40,000 INR/550 USD</h3>
                <p>Monthly</p>
                <p>EXCLUSIVE OF ALL TAXES</p>

                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Setting Goals</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Account Management – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Hashtag Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Content  Creation</span>
                <hr>

                <h4>Facebook Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Facebook Cover And Profile Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Story Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Post Sharing In Groups</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Video Posting(Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Facebook Tabs Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Call To Action Button Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Influencer Research</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Facebook Polls/ Quizs</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Page Monitoring</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Competitor Analysis</span>
                <hr>
                <h4>Instagram Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Page Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Posting Per Week – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Engagement Strategy</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Instagram Stories Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Responding to comment</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Link With Facebook Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    IGTV Upload( Video provided by Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Outreach With Influencers</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Image Tagging</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Instagram Analytics Monitoring</span>
                <hr>
                <h4>LinkedIn Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Optimization</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Company Page Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Video Posting (Provide By Client)</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>  Posting Per Week – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Creation Of Showcase Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Invite Connection To Like Your Page</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Responding To Comments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Relevant Group Joining</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Sharing In Groups</span>
                <hr>

                <h4>Youtube Management</h4>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Channel Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Channel Pic & Cover Pic Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>   Video Optimization(Video Provided By Client) – 6</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Thumbnail Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Keyword Research</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Status Posting*</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Comment Moderation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    End Screen Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Information Cards Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Tags Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Playlist Creation</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>     Video Creation Yes- 1 Video/Month(Only 1 Min)</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Youtube Analytics Monitoring</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Competitors Analysis</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Video Backlinks</span>
                <hr>
                <h4>Twitter Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile & Background Picture Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Tweet Per Week – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Retweets</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    List Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Active In Trending Hashtag</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Creation Of Poll</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Following Industry Related People</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>     Creation Of Moments</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Twitter Analytics Monitoring</span>
                <hr>
                <h4>Pinterest Management</h4>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Profile Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Board Creation – 6</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Content Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Posting Per Week – 10</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Business Account Creation</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>   Monthly Visitors Analysis</span>
                <hr>
                <span><i class="fa fa-check-circle" aria-hidden="true"></i>    Follow Relevant Account And Boards</span>
                <hr>
                <span><i class="fa fa-times-circle" aria-hidden="true"></i>    Inviting Relevant Pinners On Board</span>
                <form>
                    <input type="button" value="Get Started Now!">
                </form>
                <p class="p">T&C Apply</p>

            </div>



        </div>

        <div class="smo10">
            <h1>Why Choose SMO Packages From Creature Technologies In India</h1>

            <p class="p2">We have managed to become the most desired SMO Agency in India because we follow a few golden rules of SMO services and then</p>
            <p class="p2">deliver efficient and effective social media optimization packages.</p>

            <div class="box">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Helping Content to Spread via Sharing</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Providing Resources and Information To Customers</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Rewarding Helpful and valuable Users</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Participating in the Online Conversation</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Knowing how to Target Your audience</p>


              </div>
              <div class="box1">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Creating Quality and New Content</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Developing an SMO strategy</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Choosing SMO tactics intelligently</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Making SMO a key part of your marketing process and developing company best practices</p>
              </div>


         </div>

         <div class="smo11">
            <h1>Why Our SMO Packages Are Better?</h1>

            <p class="p2">We offer a complete solution to your social media management needs from content planning to reporting. We have everything in-</p>
            <p class="p2">house that you need to manage your social media profiles professionally. Here is what you get when you hire us to manage your social</p>
            <p class="p2">profiles:</p>
            <div class="box">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Use Trusted Social Media Management Tools</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Create High-Quality Actionable Content</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Create Effective Social Media Management Strategy</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Have More Than 8 Plus Years of Experience</p>



              </div>
              <div class="box1">
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Know The Social Media Channels Algo Very Well</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    We Offer Great Support And Services On Time</p>
                <p class="p"><i class="fa fa-check-circle" aria-hidden="true"></i>    Our Packages Are Fully Customizable As per Your Need</p>

              </div>


         </div>

         <div class="smo12">
            <h1>Interested In Learning More About Our SMO Packages? Contact Now & Lets Grow!</h1>
            <p class="p">If you are in search of the best SMO packages then look no further than Creature Technologies for the best and affordable Social Media</p>
            <p>Optimization Plans for quick social media growth. Contact us now for more details on our social media optimization services.</p>


        </div>


        <div class="smo13">
            <h1>FAQs About Our SMO Services</h1>
            <details>
                <summary class="summary">What Is The Cost Of An Smo Package Per Month?</summary>
                <p class="p">The average monthly SMO cost for a project is 8,000 INR to 25,000 INR Per Month</p>
            </details>
            <hr>

            <details>
                <summary>Do You Offer Custom SMO Packages?</summary>
                <p class="p">Increased Website Traffic</p>

                <p class="p">Increased Yes, we do, we consider every single requirement of our clients and then customize their package that best suits their needs.</p>

            </details>
            <hr>

           <details>
                <summary>Can I Change My SMO Package Later?</summary>
                <p class="p">Creature Technologies understands the fluctuating nature of businesses and thus provides the flexibility of changing the SMO package</p>
                <p>to its clients. With us, you have the ease to convert your package from one form to another.</p>
           </details>

           <details>
                <summary>Why Is Your Package Categorized?</summary>
                <p class="p">Package categorization helps us to deliver the results which our customer desires. Basic, Advanced, and Enterprise Packages enable</p>
                <p>our clients to achieve their needs according to their budget.</p>

            </details>
            <hr>

           <details>
               <summary>How To Earn Money From Social Media?</summary>
               <p class="p">You can read our guide to make money from Instagram.</p>

          </details>
          <hr>



        </div>




    </div>
{% include 'base.html' %}
</body>
</html>