<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holiday</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/holiday.css' %}">
</head>
<body>

    <div class="container">
        <h1>HOLIDAYS</h1>
        <nav>
            <ul>
                <li class="active"><a href="/">Search</a>
                    {% block content %}
                    {% endblock %}
                    <div class="city">
                        <label>FROM</label><br><br>
                        <select>
                           <option></option>
                           <option>Goa</option>
                           <option>Kolkata</option>
                           <option>Delhi</option>
                           <option>Mumbai</option>
                           <option>Bangalore</option>
                         </select>
                     </div>
                     <div class="city1">
                         <label>TO</label><br><br>
                         <select>
                            <option></option>
                            <option>Goa</option>
                            <option>Kolkata</option>
                            <option>Delhi</option>
                            <option>Mumbai</option>
                            <option>Bangalore</option>
                          </select>
                      </div>
                      <div class="date">
                        <label>DATE</label><br>
                        <input type="date">
                      </div>
                      <div class="member">
                        <label>ADULT</label>
                        <input type="number">
                      </div>
                      <div class="member1">
                        <label>CHILD</label>
                        <input type="number">
                      </div>
                      <div class="search">
                        <input type="submit" value="SEARCH">
                      </div>



                </li>
                <li><a href="/home">Destination</a></li>
                <li><a href="">Best Deal</a></li>
                <li><a href="">Featured</a></li>
            </ul>
        </nav>

    </div>

</body>
</html>