*{
 margin:0;
 padding:0;
}
h5{
   text-align:center;
   color:blue;
   margin-top: 50px;
}
.place{
  margin-left:150px;
  margin-top:-30px;

}
.place1{
  margin-left:300px;
  margin-top:-30px;


}
.place2{
  margin-left:500px;
  margin-top:-30px;


}
.place3{
  margin-left:700px;
  margin-top:-30px;

}